
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  /*position: relative;*/
  /*min-height: 100%;*/
}

body {
  /* Margin bottom by footer height */
  background-position: absolute;
  background-image: url("../images/background.png");
  background-size: cover; 
  background-attachment: fixed; 
  background-color: transparent; 
  background-margin: 0; 
  height: 100%;
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}*/

.navbar {
  /*background: url("../images/navbar.png") center; */
  background-attachment: fixed; 
  border-radius: 25px;
  margin: 60px;
}

.panel {
  background-color: white;
  border-radius: 25px;
}

.button{
  border-radius: 50px;
}

.navbar-dropdown {
  min-width: 50%;
}