{% load staticfiles %}
{% include "common/header.html" %}  
<!DOCTYPE html>
<html>
	<body class="layout-default">
		
		<div class="has-text-centered animated zoomIn">
			<div>
				<p class="title main-text">Welcome to GIMME-Web</p>
				<p class="subtitle main-text">A sophisticated Group Interactions Management Tool</p>
			</div>
		</div>

		<section class="section columns animated zoomIn">
			<div class="column"></div>
			<div class="has-text-centered panel panel-block column">
				First time here? Lets Register you...
				<form action="{% url 'registerUser' %}">
				    <input class="button is-link" type="submit" value="Register">
				</form>
			</div>
			<div class="column"></div>
			<div class="panel panel-block column">
				Already Have an account? Just Log in!
				{% include "common/login.html" %}  
			</div>
			<div class="column"></div>
		</section>


	</body>	
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="{% static "js/general.js" %}"></script>
</html>