{% load staticfiles %}
{% include "common/header.html" %}  
<!DOCTYPE html>
<html>
	<body class="layout-default">
		<section class="animated zoomIn section columns">
			<div class="column"></div>
			{% include "common/login.html" %}
			<div class="column"></div>
		</section>
	</body>	
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="{% static "js/site.js" %}"></script>
</html>