{% load static %}
{% include 'common/header.html' %}  
<!DOCTYPE html>
<html>
	<body class='layout-default' style='background-image: url("{% static "/media/images/backgroundAnim.gif" %}");'>
		<div class='section is-small'>
			<div class='has-text-centered animated zoomIn'>
				<div>
					<p class='main-title main-text'>Welcome to GIMME-Web</p>
					<p class='main-subtitle main-text'>A Sophisticated Group Interactions Management Tool</p>
				</div>
			</div>
		</div>
		<div class='columns is-centered animated zoomIn'>
			<div class='panel panel-block column is-5'>
				<div class='section is-small subtitle is-4'>
					<h5>First time here? Let's register you...</h5>
				</div>
				<div class='section is-small'>
					<div id='newUserRegButton_home' class='button is-info is-medium is-fullwidth'>Register</div>
				</div>
			</div>
			<div class='column is-1'></div>
			<div class='panel panel-block column is-5'>
				<div class='panel-block is-small subtitle is-4'>
					<h5>Already have an account? Just log in!</h5>
				</div>
				<div class='panel-block is-small'>
					<div class='container'>
						<form  method="POST" action="">
							{% csrf_token %}
							<div class='field'>
							  <label class='label subtitle is-5'>Username:</label>
							  <div class='control'>
							    <input id='loginUsername_home' class='input' type='text' name='username'>
							  </div>
							</div>

							<div class='field'>
								<label class='label subtitle is-5'>Password:</label>
								<p class='control has-icons-left'>
									<input id='loginPassword_home' class='input' type='password' name='password'>
									<span class='icon is-small is-left'>
										<i class='fas fa-lock'></i>
									</span>
								</p>
							</div>

							<div class='control'>
								{% if messages %}
									<div id='loginError_home' class='section hero is-danger is-centered has-text-centered'>
										{% for message in messages %}
											<p id="messages">{{message}}</p>
										{% endfor %}
									</div>
								{% endif %}

								<div class='field'></div>

								<div class='control'>
									<input class='button is-info' type='submit' name='Log In' value='Log In'>
								</div>

								<p class='buttons'>
									<div class='field'></div>
									<a class='button is-info is-light is-fullwidth'>
										<span class='icon'>
											<img style="margin:10%" src="https://dot.ist-id.tecnico.ulisboa.pt/api/bennu-portal/configuration/logo"></img>
										</span>
										<span>Enter with Técnico</span>
									</a>
									<div class='field'></div>
									<a class='button is-fullwidth'>
										<span class='icon'>
											<i class='fab fa-github'></i>
										</span>
										<span>Enter with GitHub</span>
									</a>
									<div class='field'></div>
									<a class='button is-danger is-fullwidth'>
										<span class='icon'>
											<i class='fab fa-google'></i>
										</span>
										<span>Enter with Google</span>
									</a>
								</p>
							</div>
								
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>	
	{% include 'common/footer.html' %} 

	<script
		src='https://code.jquery.com/jquery-3.2.1.min.js'
		integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
		crossorigin='anonymous'></script>
	<script defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js'></script>
	{% include 'common/general.html' %}
	<script>
		
		$(document).ready(function(){
			
			console.log($('#loginError_home'))
			if($('#loginError_home').textContent != ""){
				$('#loginError_home').hide()
				$('#loginError_home').show(500)
				setTimeout(function(){ $('#loginError_home').hide(500); }, 5000);
			}
			
			$('#newUserRegButton_home').click(function(){
		    	callUserReg('true');
		    });

		});
	</script>
</html>