{% load static %}
{% include "common/header.html" %}  
<!DOCTYPE html>
<html>
	<body class="layout-default">
		
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %}

		<section class="section columns">
			<div class="column"></div>
			<div class="panel panel-block column">
				<form action="{% url 'saveTaskRegistration' %}" method="POST">
					{% csrf_token %}
					{{ form }}
					<div class="field requiredFormField">
					  <label class="label">Interaction Profile*</label>
					  <div class="control" name="role">
					    <input class="input" type="text" placeholder="" name="">
					    <input class="input" type="text" placeholder="" name="">
					    <input class="input" type="text" placeholder="" name="">
					  </div>
					</div>

					<div class="field requiredFormField">
					  <label class="label">Title*</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Title" name="title">
					  </div>
					</div>

					<div class="field requiredFormField">
					  <label class="label">Description*</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Description" name="description">
					  </div>
					</div>


					<div class="field requiredFormField">
					  <label class="label">Duration*</label>
					  <div class="control">
					    <input class="input" type="date" placeholder="Duration" name="duration">
					  </div>
					</div>


					<div class="control">
						<input class="button is-link" type="submit" value="Enter" id="submitButton">
					</div>
				</form>
			</div>
			<div class="column"></div>		
		</section>

	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="{% static "js/general.js" %}"></script>
	<script src="{% static "js/registration.js" %}"></script>
	<script src="{% static "js/formFunctionalities.js" %}"></script>
</html>