{% load static %}
{% include "common/header.html" %}  
<!DOCTYPE html>
<html>
	<body class="layout-default">
		
		{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endif %}

		<section class="section columns">
			<div class="column"></div>
			<div class="panel panel-block column">
				<form action="{% url 'saveTaskRegistration' %}" id="form_taskRegistration" method="POST">
					{% csrf_token %}
					{{ form }}
					
					<div id="error_taskRegistration" class="section hero is-danger is-centered has-text-centered">
						<label class="label subtitle is-4 is-white">Registry Fail (Error {{request.session.taskRegistrationError}})! Please check all fields.</label>
					</div>

					<div class="subtitle">Task Registration</div>
					<p>* fields are mandatory</p>


					<div class="field requiredFormField">
					  <label class="label">Title*</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Title" name="title">
					  </div>
					</div>


					<div class="field requiredFormField">
					  <label class="label">Description*</label>
					  <div class="control box">
					    <textarea class="input" type="text" placeholder="Description" name="description"></textarea>
					  </div>
					</div>

					<div class="field requiredFormField">
					  <label class="label">Interaction Profile*</label>
					  <div class="control">
					    <input name="profileDim0" class="input" type="number" placeholder="0.25" step="0.01" name="">
					    <input name="profileDim1" class="input" type="number" placeholder="0.25" step="0.01" name="">
					    <input name="profileDim2" class="input" type="number" placeholder="0.25" step="0.01" name="">
					    <input name="profileDim3" class="input" type="number" placeholder="0.25" step="0.01" name="">
					  </div>
					</div>

					Profile Importance
					<input class='input' type='number' name="profileWeight" min='0' max='1' step="0.01" placeholder='0.5'>

					<div class="field requiredFormField">
					  <label class="label">Minimum Required Ability*</label>
					  <div class="control">
					    <input class="input" type="number" min='0' max='1' step="0.01" placeholder='0.5' name="minReqAbility">
					  </div>
					</div>

					Ability Importance
					<input class='input' type='number' name="difficultyWeight" min='0' max='1' step="0.01" placeholder='0.5'>


					<div class="field requiredFormField">
					  <label class="label">Duration*</label>
					  <div class="control">
					    <input class="input" type="date" placeholder="Duration" name="initDate">
					    to
					    <input class="input" type="date" placeholder="Duration" name="finalDate">
					  </div>
					</div>

					<div class="file is-boxed">
					  <label class="file-label">
					    <input class="file-input" type="file" name="files">
					    <span class="file-cta">
					      <span class="file-label">
					        Task Files
					      </span>
					    </span>
					  </label>
					</div>

					<br></br>

					<div class="control">
						<input class="button is-link" value="Register Task" id="submitButton_taskRegistration">
					</div>
				</form>
			</div>
			<div class="column"></div>		
		</section>

	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	{% include 'common/CSRFTSetup.html' %}
	{% include 'common/general.html' %}
	<script>
		$('#error_taskRegistration').hide()
		$(document).ready(function(){
			
		    $('#submitButton_taskRegistration').click(function(){
			    console.log($('#form_taskRegistration').serialize())
			    // for(i=0; i<30; i++){
			    	$.ajax({
		                type: 'POST',
		                url: '/saveTaskRegistration/',
		                data: $('#form_taskRegistration').serialize(),
		                statusCode: {
							500: function() {
							  $('#error_taskRegistration').show(500);
							  setTimeout(function(){ $('#error_userRegistration').hide(500); }, 3000);
							},
							200: function(){ 
								$('#error_taskRegistration').hide();
								document.location.href = '/dash/';
							}
						}
				    });
			    // }
		    });
		});
	</script>
	<script src="{% static "js/formFunctionalities.js" %}"></script>
</html>