{% load static %}
{% include "common/header.html" %}  

<!DOCTYPE html>
<html>
	<body class="layout-default">

		<section class="section columns">
			<div class="column"></div>
			<div class="panel panel-block column">

				<div id="error_userRegistration" class="section hero is-danger is-centered has-text-centered">
					<label class="label subtitle is-4 is-white">Registry Fail (Error {{request.session.userRegistrationError}})! Please check all fields.</label>
				</div>


				<form id="form_userRegistration">
					{{ form }}
					{% csrf_token %}

					<div class="subtitle">Account Registration</div>
					<p>* fields are mandatory</p>
		
					<div class="field requiredFormField">
					  <label class="label">Role*</label>
					  <div class="control" name="role">
						<input type="radio" name="role" value="designer"> designer<br>
						<input type="radio" name="role" value="professor"> professor<br>
					    <input type="radio" name="role" value="student"> student
					  </div>
					</div>

					<div class="field requiredFormField">
						<label class="label">E-Mail*</label>
						<p class="control has-icons-left">
							<input class="input" type="text" placeholder="E-Mail" name="email">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
						<label class="label">Password*</label>
						<p class="control has-icons-left">
							<input class="input" type="password" placeholder="Password" name="password" id="password_userRegistration">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
						<label class="label">Repeat Password*</label>
						<p class="control has-icons-left">
							<input class="input" type="password" placeholder="Password" id="repPassword_userRegistration">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
					  <label class="label">Full Name*</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Full Name" name="fullName">
					  </div>
					</div>


					<div class="field requiredFormField">
					  <label class="label">Age*</label>
					  <div class="control">
					    <input class="input" type="number" placeholder="Age" name="age">
					  </div>
					</div>



					<div class="field requiredFormField">
					  <label class="label">Gender*</label>
					  <div class="control" name="gender">
					    <input type="radio" name="gender" value="male"> Male<br>
						<input type="radio" name="gender" value="female"> Female<br>
						<input type="radio" name="gender" value="other"> Other 
					  </div>
					</div>



					<div class="field">
					  <label class="label">Description</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Tell us a little about yourself..." name="description">
					  </div>
					</div>


					<div class="control">
						<input class="button is-link" value="Enter" id="submitButton_userRegistration">
					</div>
		

				</form>
			</div>
			<div class="column"></div>		
		</section>


	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	{% include 'common/CSRFTSetup.html' %}
	{% include 'common/general.html' %}
	<script>
		$('#error_userRegistration').hide()
		$(document).ready(function(){
			var passCheck = function(){
		    	$('#submitButton_userRegistration').attr('disabled', ($('#password_userRegistration').val().localeCompare($('#repPassword_userRegistration').val()) != 0) || ($('#password_userRegistration').val().length <= 0 || $('#repPassword_userRegistration').val().length <= 0));
		    };

		    passCheck();
		    $('#password_userRegistration').on('input',passCheck);
		    $('#repPassword_userRegistration').on('input',passCheck);

		    $('#submitButton_userRegistration').click(function(){

			    console.log($('#form_userRegistration').serialize())
			    // for(i=0; i<30; i++){
			    	$.ajax({
		                type: 'POST',
		                url: '/saveUserRegistration/',
		                data: $('#form_userRegistration').serialize(),
		                statusCode: {
							500: function() {
							  $('#error_userRegistration').show(500);
							  setTimeout(function(){ $('#error_userRegistration').hide(500); }, 3000);
							},
							200: function(){ 
								$('#error_userRegistration').hide();
								document.location.href = '/dash/';
							}
						}
				    });
			    // }
		    });
		});
	</script>
	<script src="{% static "js/formFunctionalities.js" %}"></script>
</html>