{% load static %}
{% include "common/header.html" %}  

<!DOCTYPE html>
<html>
	<body class="layout-default">

		<section class="section columns">
			<div class="column"></div>
			<div class="panel panel-block column">

				{% if form.errors or profileForm.errors %}
					<div id="error_userUpdate" class="section hero is-danger is-centered has-text-centered">
						<label class="label subtitle is-4 is-white">Registry Fail! Errors: </label>
						<p class="is-4 is-white">{{form.errors}} </p>
						<p class="is-4 is-white">{{profileForm.errors}} </p>
					</div>
				{% endif %}


				<form method="POST" enctype="multipart/form-data" action="" id="form_userUpdate">
					{% csrf_token %}

					<div class="subtitle">Manage Account</div>
		

					<div class="field requiredFormField">
						<div class="label">{{profileForm.avatar.label}}</div>
						<p class="control has-icons-left" placeholder = "{{user.userprofile.avatar}}">
							{{profileForm.avatar}}
						</p>
					</div>
					

					<div class="field requiredFormField">
						<div class="label">{{form.email.label}}</div>
						<p class="control has-icons-left" placeholder="{{user.email}}">
							{{form.email}}
						</p>
					</div>


					<div class="field requiredFormField">
						<div class="label">{{form.password.label}}</div>
						<p class="control has-icons-left">
							{{form.password}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.fullName.label}}</div>
						<p class="control has-icons-left">
							{{profileForm.fullName}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.age.label}}</div>
						<p type="number" class="control has-icons-left">
							{{profileForm.age}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.gender.label}}</div>
						<p class="control has-icons-left">
							{{profileForm.gender}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.description.label}}</div>
						<p class="control has-icons-left">
							{{profileForm.description}}
						</p>
					</div>


					<div class="control">
						<input class="button is-link" type="submit" name="Change Account" value="Change Account">
					</div>
				</form>

				<div class="panel">
					<div class="subtitle has-text-danger">
						<h5>Danger Zone</h5>
					</div>

					<div class="field control">
						<a class="button is-danger" id="removeAccountButton_userUpdate" href="{% url 'userDeletion' %}">Remove Account</a>
					</div>

				</div>

			</div>
			<div class="column"></div>		
		</section>


	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	{% include 'common/CSRFTSetup.html' %}
	{% include 'common/general.html' %}
	<script src="{% static "js/formFunctionalities.js" %}"></script>
	<script>
		$('#error_userUpdate').hide()
		$('#error_userUpdate').show(500);
		setTimeout(function(){ $('#error_userUpdate').hide(500); }, 5000);

		// $('#removeAccountButton_userUpdate').click(function(){
		// 	$.ajax({
	 //            type: 'POST',
	 //            url: '/userDeletion/',
	 //            data: $('#form_userUpdate').serialize()
		//     });
		// });
	</script>
</html>