{% load static %}
{% include "common/header.html" %}  

<!DOCTYPE html>
<html>
	<body class="layout-default">

		<section class="section columns">
			<div class="column"></div>
			<div class="panel panel-block column">

				{% if form.errors %}
					<div id="error_userRegistration" class="section hero is-danger is-centered has-text-centered">
						<label class="label subtitle is-4 is-white">Registry Fail! Errors: </label>
						<p class="is-4 is-white">{{form.errors}} </p>
						<p class="is-4 is-white">{{profileForm.errors}} </p>
					</div>
				{% endif %}


				<form method="POST" enctype="multipart/form-data" action="" id="form_userRegistration">
					{% csrf_token %}

					<div class="subtitle">Account Registration</div>
					<p>* fields are mandatory</p>
		


					<div class="field requiredFormField">
						<div class="label">{{profileForm.avatar.label}}*</div>
						<p class="control has-icons-left">
							{{profileForm.avatar}}
						</p>
					</div>

					
					<div class="field requiredFormField">
						<div class="label">{{form.username.label}}*</div>
						<p class="control has-icons-left">
							{{form.username}}
						</p>
					</div>


					<div class="field requiredFormField">
						<div class="label">{{profileForm.role.label}}*</div>
						<p class="control has-icons-left">
							{{profileForm.role}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{form.email.label}}*</div>
						<p class="control has-icons-left">
							{{form.email}}
						</p>
					</div>


					<div class="field requiredFormField">
						<div class="label">{{form.password1.label}}*</div>
						<p class="control has-icons-left">
							{{form.password1}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{form.password2.label}}*</div>
						<p class="control has-icons-left">
							{{form.password2}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.fullName.label}}*</div>
						<p class="control has-icons-left">
							{{profileForm.fullName}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.age.label}}*</div>
						<p type="number" class="control has-icons-left">
							{{profileForm.age}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.gender.label}}*</div>
						<p class="control has-icons-left">
							{{profileForm.gender}}
						</p>
					</div>

					<div class="field requiredFormField">
						<div class="label">{{profileForm.description.label}}</div>
						<p class="control has-icons-left">
							{{profileForm.description}}
						</p>
					</div>


					<div class="control">
						<input class="button is-link" type="submit" name="Create User" value="Register">
					</div>
		

				</form>
			</div>
			<div class="column"></div>		
		</section>


	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	{% include 'common/general.html' %}
	<script>
		$('#error_userRegistration').hide();
		$('#error_userRegistration').show(500);
		setTimeout(function(){ $('#error_userRegistration').hide(500); }, 5000);
	</script>
	<script src="{% static "js/formFunctionalities.js" %}"></script>
</html>