{% load static %}
{% include "common/header.html" %}  

<!DOCTYPE html>
<html>
	<body class="layout-default">

		<section class="section columns">
			<div class="column"></div>
			<div class="panel panel-block column">

				<div id="error_userUpdate" class="section hero is-danger is-centered has-text-centered">
					<label class="label subtitle is-4 is-white">Registry Fail (Error {{request.session.userRegistrationError}})! Please check all fields.</label>
				</div>


				<form id="form_userUpdate">
					{{ form }}
					{% csrf_token %}

					<div class="subtitle">
						Manage Account
					</div>
					<p>* fields are mandatory</p>

					<div class="subtitle">
						<h5>Change Account</h5>
					</div>


					<div class="file is-boxed">
					  <label class="file-label">
					    <input class="file-input" type="file" name="avatar" id="avatar_userUpdate">
					    <span class="file-cta">
					      <img id="avatarImg_userUpdate" class="is-rounded" style="max-height: 3.5rem" onError="this.onerror=null;this.src='../static/media/images/userAvatars/avatarPH.png';" src="../static/media/images/userAvatars/{{request.session.userId}}.png">
					      <span class="file-label">
					        Upload your Avatar
					      </span>
					    </span>
					  </label>
					</div>

					<div class="field requiredFormField">
				  		<label class="label">UserId</label>
						<p class="control has-icons-left">
							<input class="input" type="text" value="{{request.session.userId}}" placeholder="{{request.session.userId}}" name="userId" disabled>
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
					  <label class="label">Role</label>
					  <div class="control" name="role">
						<input type="radio" name="role" value="{{request.session.role}}" checked=true disabled> {{request.session.role}}<br>
					  </div>
					</div>

					<div class="field requiredFormField">
						<label class="label">E-Mail</label>
						<p class="control has-icons-left">
							<input class="input" type="text" value="{{request.session.email}}" placeholder="{{request.session.email}}" name="email">
							
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
						<label class="label">Password</label>
						<p class="control has-icons-left">
							<input class="input" type="password" value="{{request.session.password}}" placeholder="{{request.session.password}}" name="password" id="password_userUpdate">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
						<label class="label">Repeat Password*</label>
						<p class="control has-icons-left">
							<input class="input" type="password" value="{{request.session.password}}" placeholder="{{request.session.password}}" id="repPassword_userUpdate">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</p>
					</div>

					<div class="field requiredFormField">
					  <label class="label">Full Name</label>
					  <div class="control">
					    <input class="input" type="text" value="{{request.session.fullName}}" placeholder="{{request.session.fullName}}" name="fullName">
					  </div>
					</div>


					<div class="field requiredFormField">
					  <label class="label">Age</label>
					  <div class="control">
					    <input class="input" type="number" placeholder="{{request.session.age}}" value="{{request.session.age}}" name="age">
					  </div>
					</div>



					<div class="field requiredFormField">
					  <label class="label">Gender</label>
					  <div class="control" name="gender">
					    <input type="radio" name="gender" value="male"> Male<br>
						<input type="radio" name="gender" value="female"> Female<br>
						<input type="radio" name="gender" value="other"> Other 
					  </div>
					</div>



					<div class="field">
					  <label class="label">Description</label>
					  <div class="control">
					    <input class="input" type="text" value="{{request.session.preferences}}" placeholder="{{request.session.preferences}}" name="description">
					  </div>
					</div>

					<div class="field control">
						<input class="button is-link" value="Change Account" id="submitButton_userUpdate">
					</div>

					<div class="panel">
						<div class="subtitle has-text-danger">
							<h5>Danger Zone</h5>
						</div>

						<div class="field control">
							<input class="button is-danger" value="Remove Account" id="removeButton_userUpdate">
						</div>
					</div>

				</form>
			</div>
			<div class="column"></div>		
		</section>


	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	{% include 'common/CSRFTSetup.html' %}
	{% include 'common/general.html' %}
	<script src="{% static "js/formFunctionalities.js" %}"></script>
	<script>
		$('#error_userUpdate').hide()
		$(document).ready(function(){
			var passCheck = function(){
		    	$('#submitButton_userUpdate').attr('disabled', ($('#password_userUpdate').val().localeCompare($('#repPassword_userUpdate').val()) != 0) || ($('#password_userUpdate').val().length <= 0 || $('#repPassword_userUpdate').val().length <= 0));
		    };

		    passCheck();
		    $('#password_userUpdate').on('input',passCheck);
		    $('#repPassword_userUpdate').on('input',passCheck);

		    var currAvatarSource = undefined;
		    var file = $("#avatar_userUpdate").change(function(){
			    if(this.files.length > 0)
			    {

					document.querySelector('input[type="file"]').addEventListener('change', function() {
						if (this.files && this.files[0]) {
							var img = document.querySelector('img');  // $('img')[0]
							img.src = URL.createObjectURL(this.files[0]); // set src to blob url
							img.onload = imageIsLoaded;
						}
					});
				    function imageIsLoaded() { 
						$("#avatarImg_userUpdate").attr('src', this.src);
						currAvatarSource = this.src;
					}

				}
			});


		    $('#submitButton_userUpdate').click(function(){
		    	$("#form_userUpdate :input").prop("disabled", false); 
		    	
		    	// saveAs(new Blob(currAvatarSource, {type:"image/png"}),"../static/media/images/userAvatars/{{request.session.userId}}.png");

		    	$('#form_userUpdate')["avatarPath"] = 
		    	
		    	$.ajax({
	                type: 'POST',
	                url: '/updateUserRegistration/',
	                data: $('#form_userUpdate').serialize(),
	                statusCode: {
						500: function() {
						  $('#error_userUpdate').show(500);
						  setTimeout(function(){ $('#error_userUpdate').hide(500); }, 3000);
						},
						200: function(){ 
							$('#error_userUpdate').hide();
							document.location.href = '/dash/';
						}
					}
			    });
		    });


		});
	</script>
</html>