{% load static %}
{% include "common/header.html" %}
<!DOCTYPE html>
<html>
	<body class="layout-default">
		
		<div id="welcomeBanner">
			<section class="hero main_hero is-fullheight">
				<div class="hero-body">
					<div class="has-text-centered; slider-content animated zoomIn">
						<div>
							<p class="title is-1 main-text">Lets do a new (mocked) activity, {{request.session.username}}</p>
							<p class="title is-1 main-text">The interactions profile is {{taskProfile}}</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div class="dashboard">
			<form action="{% url 'saveTaskResults' %}" method="POST">
				{% csrf_token %}
				{{ form }}
				<div class="field">
					<label class="label">New Ability</label>
					<p class="control has-icons-left">
						<input class="input" type="text" placeholder="" name="ability">
					</p>
				</div>

				<div class="field">
					<label class="label">New Engagement</label>
					<p class="control has-icons-left">
						<input class="input" type="text" placeholder="" name="engagement">
					</p>
				</div>
				<div class="control">
					<input class="button is-link" type="submit" value="Finish Task" id="submitButton">
				</div>
			<form/>
		</div>
	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="{% static "js/general.js" %}"></script>
</html>