{% load static %}
{% include 'common/header.html' %}
<!DOCTYPE html>
<html>
<body class='layout-default'>

	<div id='welcomeBanner'>
		<section class='hero main_hero is-fullheight'>
			<div class='hero-body'>
				<div class='has-text-centered; slider-content animated zoomIn'>
					<div>
						<p class='title is-1 main-text'>Welcome to GIMME-Web, {{request.session.userId}}</p>
						<p class='subtitle is-4 main-text'>A sophisticated Group Interactions Management Tool</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div id='dashboard'>

		<section class='section' id='student_currentClassInfo'>
			<div class='panel animated zoomIn'>
				<div class='panel-heading'>
					<div class='columns is-mobile is-vcentered'>
						<div class='column'>
							<p>Your Group</p>
							<div class='is-pulled-right'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
				</div>
				<div class='panel-block'>
					<div class="columns is-mobile is-centered is-mobile">
						<div class='column is-3'>
							<div id='groupsPlotLegendTrigger_student_dash'>
								<div class='button has-tooltip-top has-tooltip-arrow' data-tooltip='Show caption.'>
									<i class="fa fa-window-maximize" aria-hidden="true"></i>
								</div>
							</div>
							<div class='has-text-right has-tooltip-top has-tooltip-arrow' id='groupsPlotLegend_student_dash' data-tooltip='Click on this caption to hide it.'>
								<img src="{% static "media/images/studentGroupPlotLegend.png" %}"></img>
							</div>
						</div>
						<div class='column is-9'>
							<div id='groupsPlot_student_dash'></div>
						</div>
					</div>

					<div class='columns is-mobile is-centered is-mobile'>
						<img class='column is-2' id='groupsPlotLoadingImage_professor_dash' src="{% static "media/images/loading.gif" %}"></img>
					</div>
				</div>

			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-mobile is-vcentered'>
							<div class='column'>
								<p>Current Activity</p>
								<div class='is-pulled-right'>
									<div class='button minimizerButton'></div>
								</div>
							</div>
						</div>
					</div>
					<div class='panel-block'  id='student_currentActivityInfo' style='display: block;'>
						<div class='columns is-mobile is-centered'>
							<div class='column is-4'>
								<p class='has-text-weight-bold'>Task Title:</p> 
								<p id='student_currentActivityInfo_taskTitle'></p>
							</div>

							<div class='column is-4'>
								<p class='has-text-weight-bold'>Task Description:</p> 
								<p id='student_currentActivityInfo_taskDesc'></p>
							</div>

							<div class='column is-4'>
								<p class='has-text-weight-bold'>Task Files:</p> 
								<a id='student_currentActivityInfo_taskFiles' download></a>
							</div>
						</div>
					</div>

					<div class='panel-block' id='student_currentActivityInfo' style='display: block;'>
						<label class='column is-8'>
							<p class='has-text-weight-bold'>Submit your Task Results:</p>
							<br/>
							<input class='control has-icons-left button' style='margin: 1em;' type='file' id='student_results_file' name='filename'>
							<button class='button is-info' style='margin: 1em;' id='student_apply_results'>Apply Changes</button>
						</label>
					</div>
				</div>
			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-mobile is-vcentered'>
							<div class='column'>
								<p>Your Learning State</p>
								<div class='is-pulled-right'>
									<div class='button minimizerButton'></div>
								</div>
							</div>
						</div>
					</div>
					<div class='panel-block' style='display: block;'>
						<div class='columns is-mobile is-centered is-mobile'>
							<div class='column is-9' id='student_learningStatePlot'></div>
						</div>

						<!-- <div class='columns is-mobile is-centered is-mobile'>
							<img class='column is-2' id='student_learningStatePlotLoadingImage' src="{% static "media/images/loading.gif" %}"></img>
						</div> -->
					</div>
				</div>
			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-mobile is-vcentered'>
							<div class='column'>
								<p>Your Interaction Preference</p>
								<div class='is-pulled-right'>
									<div class='button minimizerButton'></div>
								</div>
							</div>
						</div>
					</div>
					<div class='panel-block' style='display: block;'>
						<div class='columns is-mobile is-centered is-mobile'>
							<div class='column is-5' id='student_interactionsProfilePlot'></div>
						</div>

						<!-- <div class='columns is-mobile is-centered is-mobile'>
							<img class='column is-2' id='student_interactionsProfilePlotLoadingImage' src="{% static "media/images/loading.gif" %}"></img>
						</div> -->
					</div>
				</div>
			</section>
			{% csrf_token %}

		</div>
	</body>
	{% include 'common/footer.html' %} 

	<script
	src='https://code.jquery.com/jquery-3.2.1.min.js'
	integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
	crossorigin='anonymous'></script>
	<script src='https://kit.fontawesome.com/cdbfc7205f.js' crossorigin='anonymous'></script>
	<script src='https://d3js.org/d3.v5.js'></script>
	<script src='{% static 'js/plots.js' %}'></script>
	<script src='https://unpkg.com/d3-force-attract@latest' crossorigin='anonymous'></script>
	<script>
	$(document).ready(
		function(){

			$('#groupsPlotLegend_student_dash').show(500);
			$('#groupsPlotLegendTrigger_student_dash').hide();
			$('#groupsPlotLegend_student_dash').click(function(){
					$('#groupsPlotLegend_student_dash').hide(500);
					$('#groupsPlotLegendTrigger_student_dash').show(500);
			});
			$('#groupsPlotLegendTrigger_student_dash').click(function(){
					$('#groupsPlotLegend_student_dash').show(500);
					$('#groupsPlotLegendTrigger_student_dash').hide(500);
			});

			
			csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
			function csrfSafeMethod(method) {
	    		// these HTTP methods do not require CSRF protection
	    		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    	}
	    	$.ajaxSetup({
	    		beforeSend: function(xhr, settings) {
	    			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	    				xhr.setRequestHeader('X-CSRFToken', csrftoken);
	    			}
	    		}
	    	});


	    	var objChanged = function(obj1, obj2){
				return !(JSON.stringify(obj1) === JSON.stringify(obj2));
			};


	    	var myStateGrid = undefined;
	    	var myCharacteristics = undefined;

	    	var oldGroup = {};
	    	var oldTasks = {};
	    	var oldChars = {};

	    	var updateData = function(){
				
	    		$.ajax(
	    		{
	    			url: '/fetchStudentInfo/',
            		type: 'POST',
	    			dataType: 'json',
	    			data: {'username': '{{user.username}}'},
	    			complete: 
	    			function (res) {

	    				var myInfo = unformattedStringToObj(res.responseText);
						
						if(objChanged(oldGroup, myInfo.group)){
		    				oldGroup = myInfo.group;

							var currState = {}
							currState.groups = [myInfo.group]
							currState.myStudentId = '{{user.username}}'

							$.ajax({
								type: 'POST',
								url: '/fetchStudentStates/',
								success: 
								function(studentsStates)
								{
									$('#groupsPlot_student_dash').empty();
									studentsStates = JSON.parse(studentsStates);
									buildGroupsPlot(true, 'groupsPlot_student_dash', currState, studentsStates);
								}
							});
	    				}	    				


						if(objChanged(oldTasks, myInfo.tasks)){
		    				oldTasks = myInfo.tasks;

							$.ajax({
				    			url: '/fetchTasksFromId/',
			            		type: 'POST',
				    			dataType: 'json',
				    			data: {'tasks': myInfo.tasks.toString()},
				    			success: 
				    			function (tasks) {
				    				if(tasks.length==0){
				    					$('#student_currentActivityInfo_taskTitle').text('-');
				    					$('#student_currentActivityInfo_taskDesc').text('-');
				    					$('#student_currentActivityInfo_taskFiles').text('-');
				    				}else{
					    				var task = tasks[0];
										$('#student_currentActivityInfo_taskTitle').text(task.taskId);
										$('#student_currentActivityInfo_taskDesc').text(task.description);
										$('#student_currentActivityInfo_taskFiles').text(task.files);
										$('#student_currentActivityInfo_taskFiles').attr('href','../media/'+task.files);
										// $('#student_interactionsProfilePlot').text(task.profile);
				    				}
								},
								error:
				    			function (tasks) {
			    					$('#student_currentActivityInfo_taskTitle').text('-');
			    					$('#student_currentActivityInfo_taskDesc').text('-');
			    					$('#student_currentActivityInfo_taskFiles').text('-');
				    			}
							});
						}	


						if(objChanged(oldChars, myInfo.characteristics)){
		    				oldChars = myInfo.characteristics;

							$('#student_learningStatePlot').empty();
							buildStatePlot('student_learningStatePlot', 
								[
									{ 'name': 'Ability' , 'value': myInfo.characteristics.ability },
									{ 'name': 'Engagement' , 'value': myInfo.characteristics.engagement }
								]
							);


							$('#student_interactionsProfilePlot').empty()
							buildScatterInteractionPlot('student_interactionsProfilePlot', 
								[
									// { 'focus': -3 , 'challenge': -3 , 'timestamp': 2 },
									// { 'focus': 3, 'challenge': 3 , 'timestamp': 1 },
									// { 'focus': 3 , 'challenge': -3 , 'timestamp': 4 },
									// { 'focus': -3, 'challenge': 3 , 'timestamp': 8 }
									{ 'focus': myInfo.groupProfile['Focus']*6.0 - 3.0 , 'challenge': myInfo.groupProfile['Challenge']*6.0 - 3.0 , 'timestamp': 9 }
								]
							);
						}

					}
				});


			}

			updateData();
			setInterval(updateData, 1000);


			var resFr = new FileReader();
			newUserCharacteristicsDelta = {}

			var responseFileLoaded = function(){
				newUserCharacteristicsDelta = resFr.result
			}

			//inspired by https://stackoverflow.com/questions/12281775/get-data-from-file-input-in-jquery
			$('#student_results_file').change(function() {
				if (!this) {
					alert('Couldn\'t find any uploaded file.');
				}
				else if (!this.files) {
					alert('This browser doesn\'t seem to support this functionality.');
				}
				else if (!this.files[0]) {
					alert('Please select a file before clicking "Apply Changes"');               
				}
				else {
					var file = this.files[0];
					resFr.onload = responseFileLoaded;
					resFr.readAsText(file);
				}
			});

			$('#student_apply_results').click(function() {
				$.ajax(
					{
						url: '/uploadTaskResults/',
						type: 'POST',
						data: {'username': '{{user.username}}', 'characteristicsDelta': newUserCharacteristicsDelta},
						dataType: 'json'
						// ,
						// complete:
						// function (res) {
						// 	updateData();
						// }
					}
				);
			});

		}
	);
		
	</script>
	</html>