{% load static %}
{% include 'common/header.html' %}
<!DOCTYPE html>
<html>
<body class='layout-default'>

	<div id='welcomeBanner'>
		<section class='hero main_hero is-fullheight'>
			<div class='hero-body'>
				<div class='has-text-centered; slider-content animated zoomIn'>
					<div>
						<p class='title is-1 main-text'>Welcome to GIMME-Web, {{request.session.userId}}</p>
						<p class='subtitle is-4 main-text'>A sophisticated Group Interactions Management Tool</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div id='dashboard'>

		<section class='section danger' id='student_currentClassInfo'>
			<div class='panel animated zoomIn'>
				<div class='panel-heading'>
					<div class='columns is-vcentered'>
						<div class='column'>
							<p>Your Group</p>
						</div>
						<div class='is-pulled-left'>
							<div class='button minimizerButton'></div>
						</div>
					</div>
				</div>
				<div class='panel-block'>
						<!-- <div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-5' style='color:gray'>Available Students</div>
							<div class='table-container'>
								<div class='table' id='freeUsersTable_student_dash'></div>
							</div>
						</div> -->
						<div class='column dash-cell-box' style='padding:2em;'>
							<div class='table-container column is-full'>
								<div class='table' id='yourgrouptable_student_dash'></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class='section danger'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Current Activity</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'>
								</div>
							</div>
						</div>
					</div>
					<div class='panel-block'  id='student_currentActivityInfo'>
						<label class='column is-3'>
							<p class='has-text-weight-bold'>Task Title:</p> 
							<p id='student_currentActivityInfo_taskTitle'></p>
						</label>

						<label class='column is-6'>
							<p class='has-text-weight-bold'>Task Description:</p> 
							<p id='student_currentActivityInfo_taskDesc'></p>
						</label>

						<label class='column is-3'>
							<p class='has-text-weight-bold'>Task Files:</p> 
							<a id='student_currentActivityInfo_taskFiles' download></a>
						</label>
					</div>

					<div class='panel-block'  id='student_currentActivityInfo'>
						<label class='column is-3'>
							<p class='has-text-weight-bold'>Submit your Task Results:</p>
							<input class='control has-icons-left button' type='file' id='student_results_file' name='filename'>
							<button class='button is-info' id='student_apply_results'>Apply Changes</button>
						</label>
					</div>
				</div>
			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Your Learning State</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-one-quarter'></div>
						<div class='column is-one-third is-centered' id='student_learningStatePlot'></div>
						<div class='column is-one-third'></div>
					</div>
				</div>
			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Your Interaction Preference</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-one-third'></div>
						<div class='column is-one-third is-centered' id='student_interactionsProfilePlot'></div>
						<div class='column is-one-third'></div>
					</div>
				</div>
			</section>
			{% csrf_token %}

		</div>
	</body>
	{% include 'common/footer.html' %} 

	<script
	src='https://code.jquery.com/jquery-3.2.1.min.js'
	integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
	crossorigin='anonymous'></script>
	<script src='https://kit.fontawesome.com/cdbfc7205f.js' crossorigin='anonymous'></script>
	<script src='https://d3js.org/d3.v5.js'></script>
	<script src='{% static 'js/plots.js' %}'></script>
	<script>
	$(document).ready(
		function(){

			// CSRF protection setup 
			// (from: 
			// https://docs.djangoproject.com/en/dev/ref/csrf/
			// and https://stackoverflow.com/questions/54835849/django-how-to-send-csrf-token-with-ajax
			// )
			csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
			function csrfSafeMethod(method) {
	    		// these HTTP methods do not require CSRF protection
	    		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    	}
	    	$.ajaxSetup({
	    		beforeSend: function(xhr, settings) {
	    			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	    				xhr.setRequestHeader('X-CSRFToken', csrftoken);
	    			}
	    		}
	    	});


	    	var myStateGrid = undefined;
	    	var myCharacteristics = undefined;


	    	var generateDashTableFromArray = function(canAdd, array, tagClass){
	    		var table = $('<div>');
	    		for(var i=0; i < array.length; i++){

	    			var tag = $('<span class=\'button\'>').text(array[i]);
	    			if(!canAdd && i == array.length){
	    				return table;
	    			}
	    			tag.addClass('tag');
	    			tag.addClass(tagClass);
	    			tag.addClass('is-medium');
	    			tag.addClass('is-rounded');
	    			table.append(tag);
	    		}
	    		return table;
	    	};

	    	var updateData = function(){
				
	    		$.ajax(
	    		{
	    			url: '/fetchStudentInfo/',
            		type: 'POST',
	    			dataType: 'json',
	    			data: {'username': '{{user.username}}'},
	    			complete: 
	    			function (res) {	

	    				var myInfo = unformattedStringToObj(res.responseText);
						var ygTable = generateDashTableFromArray(
							true, myInfo.group, 'is-info'
							);
						$('#yourgrouptable_student_dash').empty();
						$('#yourgrouptable_student_dash').append(ygTable);


						$.ajax(
			    		{
			    			url: '/fetchTasksFromId/',
		            		type: 'POST',
			    			dataType: 'json',
			    			data: {'tasks': myInfo.tasks.toString()},
			    			success: 
			    			function (tasks) {
			    				if(tasks.length==0){
			    					$('#student_currentActivityInfo_taskTitle').text('-');
			    					$('#student_currentActivityInfo_taskDesc').text('-');
			    					$('#student_currentActivityInfo_taskFiles').text('-');
			    				}else{
				    				var task = tasks[0];
									$('#student_currentActivityInfo_taskTitle').text(task.taskId);
									$('#student_currentActivityInfo_taskDesc').text(task.description);
									$('#student_currentActivityInfo_taskFiles').text(task.files);
									$('#student_currentActivityInfo_taskFiles').attr('href','../media/'+task.files);
									// $('#student_interactionsProfilePlot').text(task.profile);	
			    				}
							},
							error:
			    			function (tasks) {
		    					$('#student_currentActivityInfo_taskTitle').text('-');
		    					$('#student_currentActivityInfo_taskDesc').text('-');
		    					$('#student_currentActivityInfo_taskFiles').text('-');
			    			}
						});	
									
						$('#student_learningStatePlot').empty()
						buildStatePlot('student_learningStatePlot', 
							[
								{ 'name': 'Ability' , 'value': myInfo.characteristics.ability },
								{ 'name': 'Engagement' , 'value': myInfo.characteristics.engagement }
							]
						);

						$('#student_interactionsProfilePlot').empty()
						buildScatterInteractionPlot('student_interactionsProfilePlot', 
							[
								// { 'focus': -2.0 , 'challenge': 2.0 , 'timestamp': 5 },
								// { 'focus': 1.2 , 'challenge': -2.4 , 'timestamp': 2 },
								// { 'focus': 1.7 , 'challenge': 1.2 , 'timestamp': 1 },
								// { 'focus': 2.3 , 'challenge': 2.5 , 'timestamp': 4 },
								// { 'focus': -1.5 , 'challenge': -2.1 , 'timestamp': 8 },
								{ 'focus': -2.1 , 'challenge': 0.5 , 'timestamp': 9 }
							]
						);

	    				
					}
				});


			}

			updateData();
			// setInterval(updateData, 500);





			var resFr = new FileReader();
			newUserCharacteristicsDelta = {}

			var responseFileLoaded = function(){
				newUserCharacteristicsDelta = resFr.result
				console.log(resFr);
			}

			//inspired by https://stackoverflow.com/questions/12281775/get-data-from-file-input-in-jquery
			$('#student_results_file').change(function() {
				if (!this) {
					alert('Couldn\'t find any uploaded file.');
				}
				else if (!this.files) {
					alert('This browser doesn\'t seem to support this functionality.');
				}
				else if (!this.files[0]) {
					alert('Please select a file before clicking "Apply Changes"');               
				}
				else {
					var file = this.files[0];
					resFr.onload = responseFileLoaded;
					resFr.readAsText(file);
				}
			});

			$('#student_apply_results').click(function() {
				$.ajax(
					{
						url: '/uploadTaskResults/',
						type: 'POST',
						data: {'username': '{{user.username}}', 'characteristicsDelta': newUserCharacteristicsDelta},
						success: 
						function (res) {
							console.log('aa')
							updateData();
						}
					}
				);
			});




		}
	);
		
	</script>
	</html>