{% load staticfiles %}
{% include "common/header.html" %}
<!DOCTYPE html>
<html>
	<body class="layout-default">
		<div class="panel panel-block columns field is-grouped">
			<div class="column is-full-width">
				Registered Players: <p id="registeredPlayersPanel"></p>
			</div>
			<div class="column">
				<a href="{% url 'displayTask' %}">
					<button class="button is-link is-loading" id="loadingButton" >Start Activity</button>
				</a>
			</div>
		</div>
	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="{% static "js/general.js" %}"></script>
	<script>

		var fetchServerData = function(){
			$.ajax({
				url: '/fetchServerState/',
				// authentication: {% csrf_token %},
				complete: function (request) {
					console.log("{{request.session.currSelectedPlayers}}")
					$(registeredPlayersPanel).html(parseUnformattedString("{{request.session.currSelectedPlayers}}"));
					if("{{request.session.readyForNewActivity}}"=="true"){
						$("#loadingButton").removeClass("is-loading");
					}
					console.log(request)
				}
			});
		};
		setInterval(fetchServerData, 500);

	</script>
</html>