<footer>
  <section class="section">
    <div class="panel animated zoomIn">
      <div class="panel-block is-vcentered">
        <div class="columns is-vcentered">
            <div class="column">
                <h2 id="rightsText"></h2>
            </div>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
      var currDate =  new Date();
      y = currDate.getFullYear();
      m = currDate.getMonth();
      d = currDate.getDate();

      var monthNames = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"];
      var rightsElement = $("#rightsText");
      rightsElement.append("GIMME-Web 2018-"+ y +". All rights reserved.");
  </script>
</footer>
