<script type="text/javascript">
$(document).ready(function(){
    // bulma dropdowns setup
    var dropdowns = $(".dropdown");
    for (var i=0; i< dropdowns.length; i++){
        var dropdown = $(dropdowns[i]);
        if (dropdown != null){
            dropdown.click(function(event) {
              event.stopPropagation();
              $(this).find(".dropdown-menu").toggle();
            });
        }
    }


    var selectDropdownItem = function(dropdownItem){
        var neighborItems = dropdownItem.parent().children();
        for (var j=0; j< neighborItems.length; j++){
            neighborItem = neighborItems[j];
            $(neighborItem).removeClass("is-active");
        }
        dropdownItem.addClass("is-active");
        //update that dropdown text
        $($($(dropdownItem.parent().parent().parent().children()[0]).children()[0]).children()[0]).text(dropdownItem.text().split('\n')[1].replaceAll('\t',''));
    };

    var dropdownItems = $(".dropdown-item");
    for (var i=0; i< dropdownItems.length; i++){
        var dropdownItem = $(dropdownItems[i]);
        if (dropdownItem != null){
            dropdownItem.click(function(event) {
                event.stopPropagation();
                selectDropdownItem($(this));
            });
        }
    }

    var initialDropdownSelections = $(document).find(".dropdown-item.is-active");
    for (var i=0; i< initialDropdownSelections.length; i++){
        var dropdownItem = $(initialDropdownSelections[i]);
        if (dropdownItem != null){
            selectDropdownItem(dropdownItem);
        }
    }

    var initialInputSelections = $(document).find(".input");
    for (var i=0; i< initialInputSelections.length; i++){
        var inputItem = $(initialInputSelections[i]);
        inputItem.val(inputItem.attr("placeholder"));
    }

    // modals
    var rootEl = document.documentElement;
    var allModals = getAll('.modal');
    var modalButtons = getAll('.modal-button');
    var modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

    if (modalButtons.length > 0) {
        modalButtons.forEach(function (el) {
            el.addEventListener('click', function () {
                var target = document.getElementById(el.dataset.target);
                rootEl.classList.add('is-clipped');
                target.classList.add('is-active');
            });
        });
    }

    if (modalCloses.length > 0) {
        modalCloses.forEach(function (el) {
            el.addEventListener('click', function () {
                closeModals();
            });
        });
    }

    document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
                closeModals();
        }
    });

    var closeModals = function() {
        rootEl.classList.remove('is-clipped');
        allModals.forEach(function (el) {
            el.classList.remove('is-active');
        });
    };

    // general animations and element functionalities
    $("#dashboard").hide();
        setTimeout(
        function()
        {
            $("#welcomeBanner").hide();
            $("#dashboard").show();
        }, 0);
    
        $(".minimizerButton").append("<i class=\"fa fa-window-minimize\"></i>").parent().parent().parent().parent().parent().find(".panel-block").show();
        $(".minimizerButton").click(function(){
            toggleTab($(this),350);
        });
    });
    
    
    var toggleTab = function(tab, time){
        tab.empty();
        var content = tab.parent().parent().parent().parent().parent().find(".panel-block");
        if(content.is(":hidden")){
            tab.append("<i class=\"fa fa-window-minimize\"></i>");
            content.show(time);
        }else{
            tab.append("<i class=\"fa fa-window-maximize\"></i>");
            content.hide(time);
        }
    }
    var showTab = function(tab, time){
        var content = tab.parent().parent().parent().parent().parent().find(".panel-block");
        tab.empty();
        tab.append("<i class=\"fa fa-window-minimize\"></i>");
        content.show(time);
    }
    var hideTab = function(tab, time){
        var content = tab.parent().parent().parent().parent().parent().find(".panel-block");
        tab.empty();
        tab.append("<i class=\"fa fa-window-maximize\"></i>");
        content.hide(time);
    }
    
    var getAll = function(selector) {
        return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    }
    
    var parseUnformattedString = function(attributeStr){
        if(attributeStr==undefined){
            return "undefined";
        }
        return attributeStr.replace(/&quot;/g,"\"").replace(/&#39;/g,"\"")
    }
    
    var unformattedStringToObj = function(attributeStr){
        // console.log(attributeStr);
        return JSON.parse(parseUnformattedString(attributeStr))
    }
    
    
    var callUserReg = function(isNewUserRegRequest){
        if(isNewUserRegRequest){
            document.location.href = '/userRegistration/';
        }else{
            document.location.href = '/userUpdate/';
        }
    }
    
    var callTaskReg = function(isNewTaskRegRequest){
        if(isNewTaskRegRequest){
            document.location.href = '/taskRegistration/';
        }else{
            document.location.href = '/taskUpdate/';
        }
    }

    {#parallax things#}
{#    var backgroundEffectFunc = window.setInterval(function() {#}
{#        var currentScroll = parseFloat($(document).scrollTop());#}
{#    #}
{#        // do linear interpolation for animations using translations#}
{#        var ratio = currentScroll/document.body.scrollHeight;#}
{#        $(".panel").css("transform", "translateY(" + parseFloat(-currentScroll* 0.4) + "px)");#}
        {#$(".panel").css("transform", "scale(" + parseFloat(($(this).position()[0] - currentScroll)/document.body.scrollHeight)+")");#}
{#    },41);#}

    {#background animation#}
    {#Adapted from: https://codepen.io/nashvail/pen/wpGgXO#}
    // Some random colors
    const colors = ["#ffffff", 
        "#95d1fc", 
        "#1B1B1B", 
        "#f6f5d4",
        "#fddfd7"];
    
    const numBalls = 20;
    const balls = [];
    
    for (let i = 0; i < numBalls; i++) {
        let ball = document.createElement("div");
        ball.classList.add("ball");
        ball.style.background = colors[Math.floor(Math.random() * colors.length)];
        ball.style.left = `${Math.floor(Math.random() * 100)}vw`;
        ball.style.top = `${Math.floor(Math.random() * 100)}vh`;
        ball.style.transform = `scale(${Math.random()})`;
        ball.style.width = `${Math.random()*20}em`;
        ball.style.height = ball.style.width;
    
        balls.push(ball);
        document.body.append(ball);
    }

    // balls Keyframes
    balls.forEach((el, i, ra) => {
        let to = {
            x: Math.random() * (i % 2 === 0 ? -11 : 11),
            y: Math.random() * 12
        };
    
        let anim = el.animate(
            [
                { transform: `translate(0,0)` },
                { transform: `translate(${to.x}rem, ${to.y}rem)` }
            ],
            {
                duration: (Math.random() + 1) * 10000, // random duration
                direction: "alternate",
                fill: "both",
                iterations: Infinity,
                easing: "ease-in-out"
            }
        );
    });

</script>
