{% include 'common/CSRFTSetup.html' %}

<script type="text/javascript">
$(document).ready(function(){
    // bulma dropdowns setup
    var dropdowns = $(".dropdown");
    for (var i=0; i< dropdowns.length; i++){
        var dropdown = $(dropdowns[i]);
        if (dropdown != null){
            dropdown.click(function(event) {
              event.stopPropagation();
              $(this).find(".dropdown-menu").toggle();
            });
        }
    }


    var selectDropdownItem = function(dropdownItem){
        var neighborItems = dropdownItem.parent().children();
        for (var j=0; j< neighborItems.length; j++){
            neighborItem = neighborItems[j];
            $(neighborItem).removeClass("is-active");
        }
        dropdownItem.addClass("is-active");
        //update that dropdown text
        $($($(dropdownItem.parent().parent().parent().children()[0]).children()[0]).children()[0]).text(dropdownItem.text().split('\n')[1].replace(/\W/g, ""));
    }

    var dropdownItems = $(".dropdown-item");
    for (var i=0; i< dropdownItems.length; i++){
        var dropdownItem = $(dropdownItems[i]);
        if (dropdownItem != null){
            dropdownItem.click(function(event) {
                event.stopPropagation();
                selectDropdownItem($(this));
            });
        }
    }

    var initialDropdownSelections = $(document).find(".dropdown-item.is-active");
    for (var i=0; i< initialDropdownSelections.length; i++){
        var dropdownItem = $(initialDropdownSelections[i]);
        if (dropdownItem != null){
            selectDropdownItem(dropdownItem);
        }
    }

    var initialInputSelections = $(document).find(".input");
    for (var i=0; i< initialInputSelections.length; i++){
        var inputItem = $(initialInputSelections[i]);
        inputItem.val(inputItem.attr("placeholder"));
    }



    // modals
    var rootEl = document.documentElement;
    var allModals = getAll('.modal');
    var modalButtons = getAll('.modal-button');
    var modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

    if (modalButtons.length > 0) {
        modalButtons.forEach(function (el) {
            el.addEventListener('click', function () {
                var target = document.getElementById(el.dataset.target);
                rootEl.classList.add('is-clipped');
                target.classList.add('is-active');
            });
        });
    }

    if (modalCloses.length > 0) {
        modalCloses.forEach(function (el) {
            el.addEventListener('click', function () {
                closeModals();
            });
        });
    }

    document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
                closeModals();
        }
    });

    var closeModals = function() {
        rootEl.classList.remove('is-clipped');
        allModals.forEach(function (el) {
            el.classList.remove('is-active');
        });
    }

    // general animations and element functionalities
    $("#dashboard").hide();
    setTimeout(
    function()
    {
        $("#welcomeBanner").hide();
        $("#dashboard").show();
    }, 0);

    $(".minimizerButton").append("<i class=\"fa fa-window-minimize\"></i>").parent().parent().parent().parent().find(".panel-block").show();
    $(".minimizerButton").click(function(){
        $(this).empty();
        var content = $(this).parent().parent().parent().parent().find(".panel-block");
    	if(content.is(":hidden")){
            $(this).append("<i class=\"fa fa-window-minimize\"></i>");
            content.show(350);
        }else{
            $(this).append("<i class=\"fa fa-window-maximize\"></i>");
            content.hide(350);
        }
    });
});

var getAll = function(selector) {
    return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
}

var parseUnformattedString = function(attributeStr){
    return attributeStr.replace(/&quot;/g,"\"").replace(/&#39;/g,"\"")
}

var parseSessionAttribute = function(attributeStr){
    return JSON.parse(parseUnformattedString(attributeStr))
}


var callUserReg = function(isNewUserRegRequest){
    if(isNewUserRegRequest){
        document.location.href = '/userRegistration/';
    }else{
        document.location.href = '/userUpdate/';
    }
}

var callTaskReg = function(isNewTaskRegRequest){
    if(isNewTaskRegRequest){
        document.location.href = '/taskRegistration/';
    }else{
        document.location.href = '/taskUpdate/';
    }
}

</script>