<div class="panel panel-block field is-grouped">
	<form action="{% url 'loginCheck' %}" method="POST">
		{% csrf_token %}
		{{ form }}
		<div class="field">
		  <label class="label">Username or E-Mail</label>
		  <div class="control">
		    <input class="input" type="text" placeholder="Username" name="username">
		  </div>
		</div>

		<div class="field">
			<label class="label">Password</label>
			<p class="control has-icons-left">
				<input class="input" type="password" placeholder="Password" name="password">
				<span class="icon is-small is-left">
					<i class="fas fa-lock"></i>
				</span>
			</p>
		</div>

		<div class="control">
			<input class="button is-link" type="submit" value="Enter">
			<button class="button is-text" onclick="formCancelValues(['username','password'])">Cancel</button>
		</div>
	</form>
</div>