<script type="text/javascript">

	// bulma dropdowns setup
	var dropdowns = $(".dropdown");
	for (var i=0; i< dropdowns.length; i++){
		var dropdown = $(dropdowns[i]);
		if (dropdown != null){
			dropdown.click(function(event) {
			  event.stopPropagation();
			  $(this).find(".dropdown-menu").toggle();
			});
		}
	}


	var selectDropdownItem = function(dropdownItem){
		var neighborItems = dropdownItem.parent().children();
		for (var j=0; j< neighborItems.length; j++){
			neighborItem = neighborItems[j];
			$(neighborItem).removeClass("is-active");
		}
		dropdownItem.addClass("is-active");
		//update that dropdown text
		$($($(dropdownItem.parent().parent().parent().children()[0]).children()[0]).children()[0]).text(dropdownItem.text().split('\n')[1].replace(/\W/g, ""));
	}

	var dropdownItems = $(".dropdown-item");
	for (var i=0; i< dropdownItems.length; i++){
		var dropdownItem = $(dropdownItems[i]);
		if (dropdownItem != null){
			dropdownItem.click(function(event) {
			  	event.stopPropagation();
				selectDropdownItem($(this));
			});
		}
	}

	var initialDropdownSelections = $(document).find(".dropdown-item.is-active");
	for (var i=0; i< initialDropdownSelections.length; i++){
		var dropdownItem = $(initialDropdownSelections[i]);
		if (dropdownItem != null){
			selectDropdownItem(dropdownItem);
		}
	}


	//setup session cookie
	$.ajaxSetup({ 
	  beforeSend: function(xhr, settings) {
	     function getCookie(name) {
	         var cookieValue = null;
	         if (document.cookie && document.cookie != '') {
	             var cookies = document.cookie.split(';');
	             for (var i = 0; i < cookies.length; i++) {
	                 var cookie = jQuery.trim(cookies[i]);
	                 // Does this cookie string begin with the name we want?
	                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                     break;
	                 }
	             }
	         }
	         return cookieValue;
	     }
	     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	         // Only send the token to relative URLs i.e. locally.
	         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	     }
	  } 
	});
</script>