	{% load static %}
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset='utf-8'>
		<title>GIMME</title>
	</head>
	<body class='layout-default'>
		{% include 'common/header.html' %}

		<div id='welcomeBanner'>
			<section class='hero main_hero is-fullheight'>
				<div class='hero-body'>
					<div class='has-text-centered; slider-content animated zoomIn'>
						<div>
							<p class='title is-1 main-text'>Welcome to GIMME-Web, {{request.session.fullName}}</p>
							<p class='subtitle is-4 main-text'>A sophisticated Group Interactions Management Tool</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div id='dashboard'>
			<section class='section danger'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Students Setup</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-5' style='color:gray'>Available Students</div>
							<div class='table-container'>
								<div class='table' id='freeUsersTable_professor_dash'></div>
							</div>
						</div>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-4' style='color:gray'>Selected Students</div>
							<div class='table-container column is-full'>
								<div class='table' id='selectedUsersTable_professor_dash'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-5'>
							<div class='button' type='submit' id='addSpecificPlayer_professor_dash'>Add specific player</div>
						</div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='addAllUsers_professor_dash'>Select all</div>
						</div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='clearAllUsers_professor_dash'>Deselect all</div>
						</div>
					</div>
				</div>
			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Tasks Setup</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-5' style='color:gray' >Available Tasks</div>
							<div class='table-container'>
								<div class='table' id='freeTasksTable_professor_dash'>
								</div>
							</div>
						</div>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-4' style='color:gray'>Selected Tasks</div>
							<div class='table-container column is-full'>
								<div class='table' id='selectedTasksTable_professor_dash'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-5'></div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='addAllTasks_professor_dash'>Select all</div>
						</div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='clearAllTasks_professor_dash'>Deselect all</div>
						</div>
					</div>
				</div>
			</section>



		<section class='section'>
			<div class='panel animated zoomIn'>
				<div class='panel-heading'>
					<div class='columns is-vcentered'>
						<div class='column'>
							<p>Adaptation Setup</p>
						</div>
						<div class='is-pulled-left'>
							<div class='button minimizerButton'></div>
						</div>
					</div>
				</div>
				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Algorithms</p>
						</div>
					</div>

					<div class='columns is-multiline is-mobile'>
						<div class='column is-half'>
							<span>Grouping Alg.</span>
						</div>
						<div class='column is-half'>
							<span>Regression Alg.</span>
						</div>
					</div>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-half'>
							<div class='dropdown'>
								<div class='dropdown-trigger'>
									<button class='button' aria-haspopup='true' aria-controls='dropdown-menu3'>
										<span id='selectedGenAlgId_professor_dash'>
											Grouping Alg.
										</span>
										<span class='icon is-small' >
											<i class='fas fa-angle-down' aria-hidden='true'></i>
										</span>
									</button>
								</div>
								<div class='dropdown-menu' id='dropdown-menu3_professor_dash' role='menu'>
									<div class='dropdown-content'>
										<a class='dropdown-item is-active'>
											Random
										</a>
										<a class='dropdown-item' data-tooltip='See GIMME-API for details'>
											StochasticHillclimber
											<div class='form-group'>
												<label class='column is-4 control-label' for='textinput'>Num Generated Configurations</label>  
												<div class='control'>
													<input id='numberOfConfigChoicesId_professor_dash' class='input' type='number' min='1' max='1000' placeholder='100'>
												</div>
											</div>
										</a>
										<a class='dropdown-item' data-tooltip='See GIMME-API for details'>
											SimulatedAnnealing
											<div class='form-group'>
												<label class='column is-4 control-label' for='textinput'>Num Generated Configurations</label>  
												<div class='control'>
													<input id='numberOfConfigChoicesId_professor_dash' class='input' type='number' min='1' max='1000' placeholder='100'>
												</div>

												<label class='column is-4 control-label' for='textinput'>Temperature Decay</label>  
												<div class='control'>
													<input id='temperatureDecay_professor_dash' class='input' type='number' min='0' max='1' step="0.01" placeholder='0.5'>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>



						<div class='column is-half'>
							<div class='dropdown'>
								<div class='dropdown-trigger'>
									<button class='button' aria-haspopup='true' aria-controls='dropdown-menu4'>
										<span id='selectedRegAlgId_professor_dash' >Regression Alg.</span>
										<span class='icon is-small'>
											<i class='fas fa-angle-down' aria-hidden='true'></i>
										</span>
									</button>
								</div>
								<div class='dropdown-menu' id='dropdown-menu3_professor_dash' role='menu'>
									<div class='dropdown-content'>
										<a class='dropdown-item is-active'>
											KNN
											<div class='form-group'>
												<label class='column is-4 control-label' for='textinput'>Num NNs</label>  
												<div class='control'>
													<input  id='numNNsId_professor_dash' class='input' type='number' min='1' max='100' placeholder='5'>
												</div>
											</div>
										</a>
										<a class='dropdown-item'>
											Neural Networks
										</a>
										<a class='dropdown-item'>
											Reinf. Learn.
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Groups</p>
						</div>

						<div class='column is-5 columns is-multiline is-mobile'>
							<div class='column is-half'>
								<label id='mgsInput_professor_dash' class='control-label' for='quantity' min='2'>Min Group Size</label>  
								<div class='control'>
									<input id='minNumberOfPlayersPerGroupId_professor_dash' class='input' type='number' min='2' max='100' placeholder='2'>
								</div>
							</div>
							<div class='column is-half'>
								<label class='control-label' for='quantity'>Max Group Size</label>  
								<div class='control'>
									<input id='maxNumberOfPlayersPerGroupId_professor_dash' class='input' type='number' min='3' max='100' placeholder='4'>
								</div>
							</div>
						</div>
						<div class='column is-2 has-text-centered'>
							<p>OR</p>
						</div>

						<div class='column is-5'>
							<label class='control-label' for='quantity'>Preferred Group Size</label>  
							<div class='control'>
								<input id='preferredNumberOfPlayersPerGroupId_professor_dash' class='input' type='number' min='2' max='100' placeholder='4'>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Quality Weights</p>
						</div>

						<div class='column is-half'>
							<label class='control-label' for='quantity'>Ability</label>  
							<div class='control'>
								<input id='qualityWeightsAbId_professor_dash' class='input' type='number' step='0.01' min='0' max='1' placeholder='0.50'>
							</div>
						</div>

						<div class='column is-half'>
							<label class='control-label' for='quantity'>Engagement</label>  
							<div class='control'>
								<input id='qualityWeightsEngId_professor_dash' class='input' type='number' step='0.01' min='0' max='1' placeholder='0.50'>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Students</p>
						</div>
						<div class='column is-half is-centered'>
							<label class='field control-label' for='textinput' data-tooltip='This will only take effect whenever player states are updated'>Students Past Models Window</label>  
							<div class='field control'>
								<input id='playerWindowId_professor_dash' class='input' type='number' min='1' max='100' placeholder='10'>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div columns is-multiline is-mobile' data-tooltip='This configuration is optional'>
						<div class='column is-full'>
							<p>Bootstrap</p>
						</div>
						<div class='column is-half'>
							<label class='field control-label' for='textinput'>Number of Bootstrap Iterations</label>  
							<div class='field control'>
								<input id='numBootstrapIterationsId_professor_dash' class='input' type='number' min='20' max='100' placeholder='20'>
							</div>
						</div>
						<div class='column is-half'>
							<label class='checkbox'>
							  <input id='precomputeBootstrapId_professor_dash' type='checkbox'>
							  	Pre-Compute Bootstrap
							</label>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-half is-centered'>
							<a>
								<div class='button is-large' type='submit' id='loadAndStartAdaptation_professor_dash'>Load Setup and Compute New Adaptation</div>
							</a>
						</div>
						<div class='column is-half is-centered'>
							<a>
								<div class='button is-large' type='submit' id='forceStartAdaptation_professor_dash'>Force Start Adaptation</div>
							</a>
						</div>
					</div>

					<div id='adaptationError_professor_dash' class='section hero is-danger is-centered has-text-centered'>
						<label class='label subtitle is-4 is-white'>Adaptation Error! Tip: verify if enough players are selected.</label>
					</div>
					

				</div>
			</div>
		</section>



		<section class='section'>
			<div class='panel animated zoomIn'>
				<div class='panel-heading'>
					<div class='columns is-vcentered'>
						<div class='column'>
							<p>Class Learning State</p>
						</div>
						<div class='is-pulled-left'>
							<div class='button minimizerButton'></div>
						</div>
					</div>
				</div>
				<div class='panel-block'>
					<div class='colums'>
						<div class='column is-one-third'></div>
						<div class='column is-one-third is-centered' id='groupsPlot_professor_dash'></div>
						<div class='column is-one-third'></div>

						<div class='button is-large' type='submit' id='rebuildPlot_professor_dash'>Rebuild Plot</div>
					</div>
				</div>
			</div>
		</section>



	</div>
	<!-- {% include 'common/footer.html' %} -->
</body>
<script
src='https://code.jquery.com/jquery-3.2.1.min.js'
integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
crossorigin='anonymous'></script>
<script defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js'></script>
<script src='https://d3js.org/d3.v5.js'></script>
<script src='https://unpkg.com/d3-force-attract@latest'></script>
<script src='https://unpkg.com/d3-force-cluster@latest'></script>
<script src='{% static 'js/plots.js' %}'></script>
{% include 'common/CSRFTSetup.html' %}
<script>
	$(document).ready(function(){

		$("#adaptationError_professor_dash").hide();

		var currServerState = {};
		var currAdaptationConfig = {
							'selectedGenAlgId': '', 
							'selectedRegAlgId': '',

							'numberOfConfigChoices': '',
							'numNNs': '',
							'minNumberOfPlayersPerGroup': '',
							'maxNumberOfPlayersPerGroup': '',
							'preferredNumberOfPlayersPerGroup': '',
							'qualityWeightsAb': '',
							'qualityWeightsEng': '',
							'playerWindow': '',
							'numBootstrapIterations': '',
							'precomputeBootstrap': ''
						};




		// special button effects
		$('#qualityWeightsAb_professor_dash').change(function(){
			$('#qualityWeightsEng_professor_dash').val(1.0 - $(this).val())
		});
		$('#qualityWeightsEng_professor_dash').change(function(){
			$('#qualityWeightsAb_professor_dash').val(1.0 - $(this).val())
		});



		var objChanged = function(obj1, obj2){
			return !(JSON.stringify(obj1) === JSON.stringify(obj2));
		};
		var canComputeAdaptation = function(newServerState){
			console.log(newServerState)
			return currServerState != undefined && currServerState!="error" && (currServerState=={} || (objChanged(currServerState.currAdaptationState, newServerState.currAdaptationState) && newServerState!= undefined));
		}


		var generateTableFromArray = function(canAdd, array, tagClass, buttonIconClass, moveElementCallback, addElementCallback, deleteElementCallback){
			var table = $('<div>');
			for(var i=0; i < array.length+1; i++){
				
				var tag = $('<span class="button">').text(array[i]);
				if(!canAdd && i == array.length){
					return table;
				}
				if(i<array.length){
					var deleteButton = $("<div class='button is-rounded is-small' style='color:white; background-color:transparent; border-color:transparent;'>");
					deleteButton.append('<i class=\'fas fa-trash\'></i>').click(deleteElementCallback);
					tag.append(deleteButton);
					
					var changeButton = $("<div class='button is-rounded is-small' style='color:white; background-color:transparent; border-color:transparent;'>");
					changeButton.append('<i class=\'fas '+buttonIconClass+'\'></i>').click(moveElementCallback);
					tag.append(changeButton);

				}else{
					var changeButton = $("<div class='button is-rounded is-small' style='color:white; background-color:transparent; border-color:transparent;'>");
					changeButton.append('<i class=\'fas fa-plus-circle\'></i>');
      				changeButton.click(addElementCallback);
					tag.append(changeButton);
				}
				tag.addClass('tag');
				tag.addClass(tagClass);
				tag.addClass('is-medium');
				tag.addClass('is-rounded');
				table.append(tag);
			}
			return table;
		};



		var fetchServerData = function(){
			$.ajax(
			{
				url: '/fetchServerState/',
						// authentication: getCookie('csrftoken'),
						dataType: 'json',
						success: 
						function (newServerState) {							
							var currSelectedUsers = newServerState.currSelectedUsers;
							var currFreeUsers = newServerState.currFreeUsers;
							var fuTable = generateTableFromArray(
								true, currFreeUsers, 'is-info', 'fa-arrow-circle-right', 
								function(){
									$.ajax({
										type: 'POST',
										url: '/addSelectedUser/',
										data: {'userId': $(this).parent().text()},
										success:
										function()
										{
											$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-right').addClass('fa-arrow-circle-left');
										}
									});
								},
								function(){
									callUserReg(true);
								},
								function(){
									$.ajax({
										type: 'POST',
										url: '/removeUserRegistration/',
										data: {'userId': $(this).parent().text()},
										success:
										function()
										{
										}
									});
								});
							var suTable = generateTableFromArray(
								false, currSelectedUsers, 'is-info', 'fa-arrow-circle-left', 
								function(){
									$.ajax({
										type: 'POST',
										url: '/removeSelectedUser/',
										data: {'userId': $(this).parent().text()},
										success: 
										function()
										{
											$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-left').addClass('fa-arrow-circle-right');
										}
								},
								function(){
									callUserReg(true);
								},
								function(){
									$.ajax({
										type: 'POST',
										url: '/removeUserRegistration/',
										data: {'userId': $(this).parent().text()},
										success:
										function()
										{
										}
									});
								});
							});
							$('#freeUsersTable_professor_dash').empty();
							$('#freeUsersTable_professor_dash').append(fuTable);

							$('#selectedUsersTable_professor_dash').empty();
							$('#selectedUsersTable_professor_dash').append(suTable);

							var currFreeTasks = newServerState.currFreeTasks;
							var currSelectedTasks = newServerState.currSelectedTasks;

							ftTable = generateTableFromArray(
								true, currFreeTasks, 'is-danger', 'fa-arrow-circle-right', 
								function(){
									$.ajax({
										type: 'POST',
										url: '/addSelectedTask/',
										data: {'taskId': $(this).parent().text()},
										success:
										function()
										{
											$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-right').addClass('fa-arrow-circle-left');
										}
									});
								},
								function(){
									callTaskReg(true);
								},
								function(){
									$.ajax({
										type: 'POST',
										url: '/removeTaskRegistration/',
										data: {'taskId': $(this).parent().text()},
										success:
										function()
										{
										}
									});
								});

							stTable = generateTableFromArray(
								false, currSelectedTasks, 'is-danger', 'fa-arrow-circle-left', 
								function(){
									$.ajax({
										type: 'POST',
										url: '/removeSelectedTask/',
										data: {'taskId': $(this).parent().text()},
										success: 
										function()
										{
											$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-left').addClass('fa-arrow-circle-right');
										}
									});
								},
								function(){
									callTaskReg(true);
								},
								function(){
									$.ajax({
										type: 'POST',
										url: '/removeTaskRegistration/',
										data: {'taskId': $(this).parent().text()},
										success:
										function()
										{
										}
									});
								});

							$('#freeTasksTable_professor_dash').empty();
							$('#freeTasksTable_professor_dash').append(ftTable);

							$('#selectedTasksTable_professor_dash').empty();
							$('#selectedTasksTable_professor_dash').append(stTable);

							if(currSelectedUsers.length==0 || !canComputeAdaptation(newServerState)){
								return;
							}

							currServerState = newServerState;

							var selectedUsersStates = {}
							for(var i=0; i<currSelectedUsers; i++){
								currUserId = currSelectedUsers[i];
								selectedUsersStates[currUserId] = fetchUserStateCallBack(currUserId)
							}
							
							if(newServerState.readyForNewActivity=='true'){
								$('#readyForNewActivityButton_professor_dash').removeClass('is-loading');
								$('#readyForNewActivityButton_professor_dash').html('Start Activity');
							}
							

							$.ajax({
								type: 'POST',
								url: '/fetchSelectedUserStates/',
								success: 
								function(selectedUsersStates)
								{
									currServerState.selectedUsersStates = JSON.parse(selectedUsersStates);
									buildGroupsPlot('groupsPlot_professor_dash', currServerState.currAdaptationState, currServerState.selectedUsersStates);
								}
							});
						}

					}
				);
		};

		fetchServerData();
		setInterval(fetchServerData, 500);


		var startAdaptation = function(){
			$.ajax(
				{
					url: '/startAdaptation/',
					dataType: 'json',
					complete:
					function(newServerState){
						$('#loadAndStartAdaptation_professor_dash').removeClass("is-loading");

						$('#groupsPlot_professor_dash').empty();
						if(newServerState.responseText.localeCompare("error")==0){
							$("#adaptationError_professor_dash").show();
							currServerState = "error";
							return;
						}

						$("#adaptationError_professor_dash").hide();
						currServerState = newServerState;
					}
				}
			);
		}


		var loadAndStartAdaptation = function(){
			newAdaptationConfig = {
							'selectedGenAlgId': $('#selectedGenAlgId_professor_dash').text(), 
							'selectedRegAlgId': $('#selectedRegAlgId_professor_dash').text(),

							'temperatureDecay': $('#temperatureDecay_professor_dash').val(),

							'numberOfConfigChoices': $('#numberOfConfigChoicesId_professor_dash').val(),
							'numNNs': $('#numNNsId_professor_dash').val(),
							'minNumberOfPlayersPerGroup': $('#minNumberOfPlayersPerGroupId_professor_dash').val(),
							'maxNumberOfPlayersPerGroup': $('#maxNumberOfPlayersPerGroupId_professor_dash').val(),
							'preferredNumberOfPlayersPerGroup': $('#preferredNumberOfPlayersPerGroupId_professor_dash').val(),
							'qualityWeightsAb': $('#qualityWeightsAbId_professor_dash').val(),
							'qualityWeightsEng': $('#qualityWeightsEngId_professor_dash').val(),
							'playerWindow': $('#playerWindowId_professor_dash').val(),
							'numBootstrapIterations': $('#numBootstrapIterationsId_professor_dash').val(),
							'precomputeBootstrap': $('#precomputeBootstrapId_professor_dash').val()
						};
			// if(canComputeAdaptation()){
				currAdaptationConfig = newAdaptationConfig;
				$.ajax(
					{
						url: '/configAdaptation/',
						type: 'POST',
						dataType: 'json',
						data: newAdaptationConfig,
						complete: 
						function (newServerState) {
							currServerState.currAdaptationState = newServerState.currAdaptationState;
							startAdaptation();
						}
					}
				);
			// }else{
			// 	startAdaptation();
			// }
			
		}

		$('#loadAndStartAdaptation_professor_dash').click(function(){
			$('#loadAndStartAdaptation_professor_dash').addClass("is-loading");
			loadAndStartAdaptation();
		})
		$('#forceStartAdaptation_professor_dash').click(function(){
			startAdaptation();
		})
		$('#addAllUsers_professor_dash').click(function(){
			$.ajax(
			{
				url: '/addAllUsersSelected/'
			}
			);
		})
		$('#clearAllUsers_professor_dash').click(function(){
			$.ajax(
			{
				url: '/removeAllUsersSelected/'
			}
			);
		})
		$('#addAllTasks_professor_dash').click(function(){
			$.ajax(
			{
				url: '/addAllTasksSelected/'
			}
			);
		})
		$('#clearAllTasks_professor_dash').click(function(){
			$.ajax(
			{
				url: '/removeAllTasksSelected/'
			}
			);
		})
		$('#addSpecificPlayer_professor_dash').click(function(){
			startAdaptation();
		}).hide()

		$('#rebuildPlot_professor_dash').click(function(){
			$('#groupsPlot_professor_dash').empty();
			if(currServerState.currAdaptationState != undefined && currServerState.currAdaptationState.groups != undefined){
				buildGroupsPlot('groupsPlot_professor_dash', currServerState.currAdaptationState, currServerState.selectedUsersStates);
			}
		})
	});
</script>
</html>