	{% load static %}
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset='utf-8'>
		<title>GIMME</title>
	</head>
	<body class='layout-default'>
		{% include 'common/header.html' %}

		<div id='welcomeBanner'>
			<section class='hero main_hero is-fullheight'>
				<div class='hero-body'>
					<div class='has-text-centered; slider-content animated zoomIn'>
						<div>
							<p class='title is-1 main-text'>Welcome to GIMME-Web, {{request.session.fullName}}</p>
							<p class='subtitle is-4 main-text'>A sophisticated Group Interactions Management Tool</p>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div id='dashboard'>
			<section class='section danger'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Students Setup</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-5' style='color:gray'>Available Students</div>
							<div class='table-container'>
								<div class='table' id='freeUsersTable'></div>
							</div>
						</div>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-4' style='color:gray'>Selected Students</div>
							<div class='table-container column is-full'>
								<div class='table' id='selectedUsersTable'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-5'>
							<div class='button' type='submit' id='addSpecificPlayer'>Add specific player</div>
						</div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='addAllUsers'>Select all</div>
						</div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='clearAllUsers'>Deselect all</div>
						</div>
					</div>
				</div>
			</section>

			<section class='section'>
				<div class='panel animated zoomIn'>
					<div class='panel-heading'>
						<div class='columns is-vcentered'>
							<div class='column'>
								<p>Tasks Setup</p>
							</div>
							<div class='is-pulled-left'>
								<div class='button minimizerButton'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-5' style='color:gray' >Available Tasks</div>
							<div class='table-container'>
								<div class='table' id='freeTasksTable'>
								</div>
							</div>
						</div>
						<div class='column is-offset-1' style='padding:2em; border-color:gray; border-style:solid; border-width: 0.5em'>
							<div class='subtitle is-4' style='color:gray'>Selected Tasks</div>
							<div class='table-container column is-full'>
								<div class='table' id='selectedTasksTable'></div>
							</div>
						</div>
					</div>
					<div class='panel-block'>
						<div class='column is-offset-5'></div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='addAllTasks'>Select all</div>
						</div>
						<div class='column is-offset-1'>
							<div class='button' type='submit' id='clearAllTasks'>Deselect all</div>
						</div>
					</div>
				</div>
			</section>


		<section class='section'>
			<div class='panel animated zoomIn'>
				<div class='panel-heading'>
					<div class='columns is-vcentered'>
						<div class='column'>
							<p>Adaptation Setup</p>
						</div>
						<div class='is-pulled-left'>
							<div class='button minimizerButton'></div>
						</div>
					</div>
				</div>
				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Algorithms</p>
						</div>
					</div>

					<div class='columns is-multiline is-mobile'>
						<div class='column is-half'>
							<span>Grouping Alg.</span>
						</div>
						<div class='column is-half'>
							<span>Regression Alg.</span>
						</div>
					</div>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-half'>
							<div class='dropdown'>
								<div class='dropdown-trigger'>
									<button class='button' aria-haspopup='true' aria-controls='dropdown-menu3'>
										<span id='selectedGenAlgId'>
											Grouping Alg.
										</span>
										<span class='icon is-small' >
											<i class='fas fa-angle-down' aria-hidden='true'></i>
										</span>
									</button>
								</div>
								<div class='dropdown-menu' id='dropdown-menu3' role='menu'>
									<div class='dropdown-content'>
										<a class='dropdown-item is-active'>
											Random
										</a>
										<a class='dropdown-item' data-tooltip='See GIMME-API for details'>
											StochasticHillclimber
											<div class='form-group'>
												<label class='column is-4 control-label' for='textinput'>Num Generated Configurations</label>  
												<div class='control'>
													<input id='numberOfConfigChoicesId' class='input' type='number' min='1' max='1000' placeholder='100'>
												</div>
											</div>
										</a>
										<a class='dropdown-item' data-tooltip='See GIMME-API for details'>
											SimulatedAnnealing
											<div class='form-group'>
												<label class='column is-4 control-label' for='textinput'>Num Generated Configurations</label>  
												<div class='control'>
													<input id='numberOfConfigChoicesId' class='input' type='number' min='1' max='1000' placeholder='100'>
												</div>

												<label class='column is-4 control-label' for='textinput'>Temperature Decay</label>  
												<div class='control'>
													<input id='temperatureDecay' class='input' type='number' min='0' max='1' step="0.01" placeholder='0.5'>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>



						<div class='column is-half'>
							<div class='dropdown'>
								<div class='dropdown-trigger'>
									<button class='button' aria-haspopup='true' aria-controls='dropdown-menu4'>
										<span id='selectedRegAlgId' >Regression Alg.</span>
										<span class='icon is-small'>
											<i class='fas fa-angle-down' aria-hidden='true'></i>
										</span>
									</button>
								</div>
								<div class='dropdown-menu' id='dropdown-menu3' role='menu'>
									<div class='dropdown-content'>
										<a class='dropdown-item is-active'>
											KNN
											<div class='form-group'>
												<label class='column is-4 control-label' for='textinput'>Num NNs</label>  
												<div class='control'>
													<input  id='numNNsId' class='input' type='number' min='1' max='100' placeholder='5'>
												</div>
											</div>
										</a>
										<a class='dropdown-item'>
											Neural Networks
										</a>
										<a class='dropdown-item'>
											Reinf. Learn.
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Groups</p>
						</div>

						<div class='column is-5 columns is-multiline is-mobile'>
							<div class='column is-half'>
								<label id='mgsInput' class='control-label' for='quantity' min='2'>Min Group Size</label>  
								<div class='control'>
									<input id='minNumberOfPlayersPerGroupId' class='input' type='number' min='2' max='100' placeholder='2'>
								</div>
							</div>
							<div class='column is-half'>
								<label class='control-label' for='quantity'>Max Group Size</label>  
								<div class='control'>
									<input id='maxNumberOfPlayersPerGroupId' class='input' type='number' min='3' max='100' placeholder='4'>
								</div>
							</div>
						</div>
						<div class='column is-2 has-text-centered'>
							<p>OR</p>
						</div>

						<div class='column is-5'>
							<label class='control-label' for='quantity'>Preferred Group Size</label>  
							<div class='control'>
								<input id='preferredNumberOfPlayersPerGroupId' class='input' type='number' min='2' max='100' placeholder='4'>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Quality Weights</p>
						</div>

						<div class='column is-half'>
							<label class='control-label' for='quantity'>Ability</label>  
							<div class='control'>
								<input id='qualityWeightsAbId' class='input' type='number' step='0.01' min='0' max='1' placeholder='0.50'>
							</div>
						</div>

						<div class='column is-half'>
							<label class='control-label' for='quantity'>Engagement</label>  
							<div class='control'>
								<input id='qualityWeightsEngId' class='input' type='number' step='0.01' min='0' max='1' placeholder='0.50'>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-full'>
							<p>Students</p>
						</div>
						<div class='column is-half is-centered'>
							<label class='field control-label' for='textinput' data-tooltip='This will only take effect whenever player states are updated'>Students Past Models Window</label>  
							<div class='field control'>
								<input id='playerWindowId' class='input' type='number' min='1' max='100' placeholder='10'>
							</div>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div columns is-multiline is-mobile' data-tooltip='This configuration is optional'>
						<div class='column is-full'>
							<p>Bootstrap</p>
						</div>
						<div class='column is-half'>
							<label class='field control-label' for='textinput'>Number of Bootstrap Iterations</label>  
							<div class='field control'>
								<input id='numBootstrapIterationsId' class='input' type='number' min='20' max='100' placeholder='20'>
							</div>
						</div>
						<div class='column is-half'>
							<label class='checkbox'>
							  <input id='precomputeBootstrapId' type='checkbox'>
							  	Pre-Compute Bootstrap
							</label>
						</div>
					</div>
				</div>

				<div class='panel-block' style='display: block;'>
					<div class='columns is-multiline is-mobile'>
						<div class='column is-half is-centered'>
							<a>
								<div class='button is-large' type='submit' id='loadAndStartAdaptation'>Load Setup and Compute New Adaptation</div>
							</a>
						</div>
						<div class='column is-half is-centered'>
							<a>
								<div class='button is-large' type='submit' id='forceStartAdaptation'>Force Start Adaptation</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class='section'>
			<div class='panel animated zoomIn'>
				<div class='panel-heading'>
					<div class='columns is-vcentered'>
						<div class='column'>
							<p>Class Learning State</p>
						</div>
						<div class='is-pulled-left'>
							<div class='button minimizerButton'></div>
						</div>
					</div>
				</div>
				<div class='panel-block'>
					<div class='colums'>
						<div class='column is-one-third'></div>
						<div class='column is-one-third is-centered' id='groupsPlot'></div>
						<div class='column is-one-third'></div>

						<div class='button is-large' type='submit' id='rebuildPlot'>Rebuild Plot</div>
					</div>
				</div>
			</div>
		</section>



	</div>
	<!-- {% include 'common/footer.html' %} -->
</body>
<script
src='https://code.jquery.com/jquery-3.2.1.min.js'
integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
crossorigin='anonymous'></script>
<script defer src='https://use.fontawesome.com/releases/v5.0.7/js/all.js'></script>
<script src='https://d3js.org/d3.v5.js'></script>
<script src='https://unpkg.com/d3-force-attract@latest'></script>
<script src='https://unpkg.com/d3-force-cluster@latest'></script>
<script src='{% static 'js/plots.js' %}'></script>
{% include 'common/CSRFTSetup.html' %}
<script>
	$(document).ready(function(){

		var currAdaptationState = undefined;
		var currServerState = undefined;
		var currAdaptationConfig = {
							'selectedGenAlgId': '', 
							'selectedRegAlgId': '',

							'numberOfConfigChoices': '',
							'numNNs': '',
							'minNumberOfPlayersPerGroup': '',
							'maxNumberOfPlayersPerGroup': '',
							'preferredNumberOfPlayersPerGroup': '',
							'qualityWeightsAb': '',
							'qualityWeightsEng': '',
							'playerWindow': '',
							'numBootstrapIterations': '',
							'precomputeBootstrap': ''
						};




		// special button effects
		$('#qualityWeightsAb').change(function(){
			$('#qualityWeightsEng').val(1.0 - $(this).val())
		});
		$('#qualityWeightsEng').change(function(){
			$('#qualityWeightsAb').val(1.0 - $(this).val())
		});





		var objChanged = function(obj1, obj2){
			return !(JSON.stringify(obj1) === JSON.stringify(obj2));
		};




		var generateUserTableFromArray = function(array, buttonIconClass, deleteElementCallback){
			var table = $('<div>');
			for(var i=0; i < array.length; i++){
				tag = $('<span>').text(array[i]);
				tag.addClass('tag');
				tag.addClass('is-info');
				tag.addClass('is-medium');
				tag.addClass('is-rounded');

				changeButton = $("<div class='button is-rounded is-small' style='color:white; background-color:transparent; border-color:transparent;'>");
				changeButton.append('<i class=\'fas '+buttonIconClass+'\'></i>');
				changeButton.click(deleteElementCallback)

				tag.append(changeButton)

				table.append(tag);
			}
			return table;
		};
		var generateTaskTableFromArray = function(array, buttonIconClass, deleteElementCallback, addElementCallback){
			var table = $('<div>');
			for(var i=0; i < array.length+1; i++){
				var extendedTag = $('<span id="extendedTab'+i+'"class="hero" style="argin:1em; padding:1em; border-radius:3em">').text(array[i]);
				extendedTag.append(
							"<div style='color:white; background-color:transparent; border-color:transparent;'>\
								<div class='title is-3'>"+array[i]+"</div> \
								<div class='form-group'>\
									<label class='column is-4 control-label'>Title</label> \
									<div class='control'>\
										<input id='' class='input' type='text' placeholder='Default title'>\
									</div>\
								</div>\
								<div class='form-group'>\
									<label class='column is-4 control-label'>Description</label> \
									<div class='control'>\
										<textarea name='Text1' cols='40' rows='5'></textarea>\
									</div>\
								</div>\
								<div class='form-group'>\
									<label class='column is-4 control-label' for='textinput'>Profile</label> \
									<div>\
										Self Improvement\
										<div class='form-group'>\
											<div class='control'>\
												<input class='input' type='number' min='0' max='1' step='0.01' placeholder='0.25'>\
											</div>\
										</div>\
									</div>\
									<div>\
										Competition\
										<div class='form-group'>\
											<div class='control'>\
												<input class='input' type='number' min='0' max='1' step='0.01' placeholder='0.25'>\
											</div>\
										</div>\
									</div>\
									<div>\
										Mutual Help\
										<div class='form-group'>\
											<div class='control'>\
												<input class='input' type='number' min='0' max='1' step='0.01' placeholder='0.25'>\
											</div>\
										</div>\
									</div>\
									<div>\
										Extreme Altruism\
										<div class='form-group'>\
											<div class='control'>\
												<input class='input' type='number' min='0' max='1' step='0.01' placeholder='0.25'>\
											</div>\
										</div>\
									</div>\
								</div>\
								<div class='form-group'>\
									<div class='button is-rounded is-medium is-pulled-right' style='color:white; background-color:transparent; border-color:transparent;'>\
										<i class='fas fa-trash'></i>\
									</div>\
									<div class='button is-rounded is-medium is-pulled-right' style='color:white; background-color:transparent; border-color:transparent;'>\
										<i class='fas fa-compress'></i>\
									</div>\
								</div>\
							</div>"
						);
				extendedTag.hide()


				var tag = $('<span class="button">').text(array[i]);
				// tag.click(
				// 	function(){
				// 		if(array.indexOf($(this)) == array.length - 1){
				// 			$('#extendedTab'+array.indexOf($(this))).show();
    //   						callTaskReg('true');
				// 		}else{
				// 			deleteElementCallback();
				// 		}
				// 	}
				// );

				changeButton = $("<div class='button is-rounded is-small' style='color:white; background-color:transparent; border-color:transparent;'>");
				if(i<array.length){
					changeButton.append('<i class=\'fas '+buttonIconClass+'\'></i>');
					changeButton.click(deleteElementCallback)
				}else{
					changeButton.append('<i class=\'fas fa-plus-circle\'></i>');
      				changeButton.click(function(){callTaskReg('true');});
				}
				tag.addClass('tag');
				tag.addClass('is-danger');
				tag.addClass('is-medium');
				tag.addClass('is-rounded');
				tag.append(changeButton)
				table.append(tag);
				table.append(extendedTag);
			}
			return table;
		};


		var fetchServerData = function(){
			$.ajax(
			{
				url: '/fetchServerState/',
						// authentication: getCookie('csrftoken'),
						dataType: 'json',
						success: 
						function (newServerState) {
							if(!objChanged(currServerState, newServerState)){
								return;
							}
							currServerState = newServerState;
							var currSelectedUsers = newServerState.currSelectedUsers;
							var currFreeUsers = newServerState.currFreeUsers;
							var fuTable = generateUserTableFromArray(currFreeUsers, 'fa-arrow-circle-right', function(){
								$.ajax({
									type: 'POST',
									url: '/addSelectedUser/',
									data: {'userId': $(this).parent().text()},
									success:
									function()
									{
										$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-right').addClass('fa-arrow-circle-left');
									}
								});
							});
							var suTable = generateUserTableFromArray(currSelectedUsers, 'fa-arrow-circle-left', function(){
								$.ajax({
									type: 'POST',
									url: '/removeSelectedUser/',
									data: {'userId': $(this).parent().text()},
									success: 
									function()
									{
										$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-left').addClass('fa-arrow-circle-right');
									}
								});
							});
							$('#freeUsersTable').empty();
							$('#freeUsersTable').append(fuTable);

							$('#selectedUsersTable').empty();
							$('#selectedUsersTable').append(suTable);

							var currFreeTasks = newServerState.currFreeTasks;
							var currSelectedTasks = newServerState.currSelectedTasks;

							ftTable = generateTaskTableFromArray(currFreeTasks, 'fa-arrow-circle-right', 
										function(){
											$.ajax({
												type: 'POST',
												url: '/addSelectedTask/',
												data: {'taskId': $(this).parent().text()},
												success:
												function()
												{
													$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-right').addClass('fa-arrow-circle-left');
												}
											});
										},
										function(){

										});

							stTable = generateTaskTableFromArray(currSelectedTasks, 'fa-arrow-circle-left', 
										function(){
											$.ajax({
												type: 'POST',
												url: '/removeSelectedTask/',
												data: {'taskId': $(this).parent().text()},
												success: 
												function()
												{
													$(this).find('.fa-arrow-circle-right').removeClass('fa-arrow-circle-left').addClass('fa-arrow-circle-right');
												}
											});
										},function(){

										});

							$('#freeTasksTable').empty();
							$('#freeTasksTable').append(ftTable);

							$('#selectedTasksTable').empty();
							$('#selectedTasksTable').append(stTable);


							var selectedUsersStates = {}
							for(var i=0; i<currSelectedUsers; i++){
								currUserId = currSelectedUsers[i];
								selectedUsersStates[currUserId] = fetchUserStateCallBack(currUserId)
							}
							
							if(newServerState.readyForNewActivity=='true'){
								$('#readyForNewActivityButton').removeClass('is-loading');
								$('#readyForNewActivityButton').html('Start Activity');
							}

							if(currAdaptationState == undefined && newServerState.currAdaptationState.groups != undefined && currAdaptationState != newServerState.currAdaptationState){

								$.ajax({
									type: 'POST',
									url: '/fetchSelectedUserStates/',
									success: 
									function(selectedUsersStates)
									{
										console.log(JSON.parse(selectedUsersStates))
										buildGroupsPlot('groupsPlot', newServerState.currAdaptationState, JSON.parse(selectedUsersStates));
										currAdaptationState = newServerState.currAdaptationState;
									}
								});
								

							}


						}
					}
				);
		};

		fetchServerData();
		setInterval(fetchServerData, 500);


		var startAdaptation = function(){
			$.ajax(
				{
					url: '/startAdaptation/',
					dataType: 'json',
					complete: 
					function (newServerState) {
						$('#loadAndStartAdaptation').removeClass("is-loading");
						currAdaptationState = newServerState.currAdaptationState;
						$('#groupsPlot').empty();
						// if(currAdaptationState != undefined && currAdaptationState.groups != undefined){
						// 	buildGroupsPlot( 'groupsPlot', currAdaptationState);
						// }
					}
				}
			);
		}


		var loadAndStartAdaptation = function(){
			newAdaptationConfig = {
							'selectedGenAlgId': $('#selectedGenAlgId').text(), 
							'selectedRegAlgId': $('#selectedRegAlgId').text(),

							'temperatureDecay': $('#temperatureDecay').val(),

							'numberOfConfigChoices': $('#numberOfConfigChoicesId').val(),
							'numNNs': $('#numNNsId').val(),
							'minNumberOfPlayersPerGroup': $('#minNumberOfPlayersPerGroupId').val(),
							'maxNumberOfPlayersPerGroup': $('#maxNumberOfPlayersPerGroupId').val(),
							'preferredNumberOfPlayersPerGroup': $('#preferredNumberOfPlayersPerGroupId').val(),
							'qualityWeightsAb': $('#qualityWeightsAbId').val(),
							'qualityWeightsEng': $('#qualityWeightsEngId').val(),
							'playerWindow': $('#playerWindowId').val(),
							'numBootstrapIterations': $('#numBootstrapIterationsId').val(),
							'precomputeBootstrap': $('#precomputeBootstrapId').val()
						};
			// if(objChanged(currAdaptationConfig, newAdaptationConfig)){
				currAdaptationConfig = newAdaptationConfig;
				$.ajax(
					{
						url: '/configAdaptation/',
						type: 'POST',
						dataType: 'json',
						data: newAdaptationConfig,
						complete: 
						function (newServerState) {
							console.log('here');
							currAdaptationState = newServerState.currAdaptationState;
							startAdaptation();
						}
					}
				);
			// }else{
			// 	startAdaptation();
			// }
			
		}

		$('#loadAndStartAdaptation').click(function(){
			$('#loadAndStartAdaptation').addClass("is-loading");
			loadAndStartAdaptation();
		})
		$('#forceStartAdaptation').click(function(){
			startAdaptation();
		})
		$('#addAllUsers').click(function(){
			$.ajax(
			{
				url: '/addAllUsersSelected/'
			}
			);
		})
		$('#clearAllUsers').click(function(){
			$.ajax(
			{
				url: '/removeAllUsersSelected/'
			}
			);
		})
		$('#addAllTasks').click(function(){
			$.ajax(
			{
				url: '/addAllTasksSelected/'
			}
			);
		})
		$('#clearAllTasks').click(function(){
			$.ajax(
			{
				url: '/removeAllTasksSelected/'
			}
			);
		})
		$('#addSpecificPlayer').click(function(){
			startAdaptation();
		}).hide()

		$('#rebuildPlot').click(function(){
			$('#groupsPlot').empty();
			if(currAdaptationState != undefined && currAdaptationState.groups != undefined){
				buildGroupsPlot( 'groupsPlot', currAdaptationState);
			}
		})
	});
</script>
</html>