{% load static %}
{% include "common/header.html" %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>GIMME</title>
	</head>
	<body class="layout-default">
		
		<div id="welcomeBanner">
			<section class="hero main_hero is-fullheight">
				<div class="hero-body">
					<div class="has-text-centered; slider-content animated zoomIn">
						<div>
							<p class="title is-1 main-text">Welcome to GIMME-Web, {{request.session.username}}</p>
							<p class="subtitle is-4 main-text">A sophisticated Group Interactions Management Tool</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div id="dashboard">
			<section class="section danger" id="Current Activity Info">
				<div class="panel animated zoomIn">
					<div class="panel-heading">
						<div class="columns is-vcentered">
							<div class="column">
								<p>Current Activity Info</p>
							</div>
							<div class="is-pulled-left">
								<i class="fa fa-window-minimize minimizerButton" aria-hidden="true"></i>
								<i class="fa fa-window-maximize maximizerButton" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="panel-block">

						<div>
							<div class="column is-full">Player Setup</div>
							<div class="column is-full">Free Players:</div>
							<div class="table-container column is-full">
								<div class="table" id="freePlayersTable"></div>
							</div>
							
							<div>Waiting Room:</div>
							<div class="table-container column is-full">
								<div class="table" id="waitingRoomTable"></div>
								<div class="button" type="submit" id="addAllPlayers">Add all</div>
								<div class="button" type="submit" id="clearAllPlayers">Clear all</div>
								<div class="button" type="submit" id="addSpecificPlayer">Add specific player</div>
							</div>
						</div>
						<div>
							<a>
								<div class="button is-large" type="submit" id="startAdaptation">Compute New Adaptation</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="panel animated zoomIn">
					<div class="panel-heading">
						<div class="columns is-vcentered">
							<div class="column">
								<p>Class Learning State</p>
							</div>
							<div class="is-pulled-left">
								<i class="fa fa-window-minimize minimizerButton" aria-hidden="true"></i>
								<i class="fa fa-window-maximize maximizerButton" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="panel-block">
						<div class="colums">
	  						<div class="column is-one-third"></div>
	  						<div class="column is-one-third is-centered" id="groupsPlot"></div>
	  						<div class="column is-one-third"></div>

							<div class="button is-large" type="submit" id="rebuildPlot">Rebuild Plot</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="panel animated zoomIn">
					<div class="panel-heading">
						<div class="columns is-vcentered">
							<div class="column">
								<p>Available Tasks</p>
							</div>
							<div class="is-pulled-left">
								<i class="fa fa-window-minimize minimizerButton" aria-hidden="true"></i>
								<i class="fa fa-window-maximize maximizerButton" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="panel-block">
						<div class="table">
	  						<table>
							    <tr>
							        <th>Field 1</th>
							    </tr>
							    <tr> 
							        <td>field1</td>
							    </tr>
							    {% for item in tasks %}
								    <tr> 
								        <td>{{ item.field1 }}</td>
								    </tr>
							    {% endfor %}
							</table>
						</div>
						<form action="{% url 'registerTask' %}" class="section">
							<input class="button is-large" type="submit" value="Register new Task">
							<!-- <input class="button is-large" type="reset" value="Journey"> -->
						</form>
					</div>
				</div>
				
			</section>

			
		</div>
	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="https://unpkg.com/d3-force-attract@latest"></script>
	<script src="https://unpkg.com/d3-force-cluster@latest"></script>
	<script src="{% static "js/general.js" %}"></script>
	<script src="{% static "js/plots.js" %}"></script>
	<script type="text/javascript">
		$.ajaxSetup({ 
		  beforeSend: function(xhr, settings) {
		     function getCookie(name) {
		         var cookieValue = null;
		         if (document.cookie && document.cookie != '') {
		             var cookies = document.cookie.split(';');
		             for (var i = 0; i < cookies.length; i++) {
		                 var cookie = jQuery.trim(cookies[i]);
		                 // Does this cookie string begin with the name we want?
		                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                     break;
		                 }
		             }
		         }
		         return cookieValue;
		     }
		     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
		         // Only send the token to relative URLs i.e. locally.
		         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		     }
		  } 
		});
	</script>
	<script>
		$(document).ready(function(){

			var currAdaptationState = undefined;

			var generateTableFromArray = function(array, deleteElementCallback){
				var table = $('<div>');
				for(var i=0; i < array.length; i++){
				    tag = $('<span>').text(array[i]);
				    tag.addClass("tag");
				    tag.addClass("is-info");
				    tag.addClass("is-medium");
				    tag.addClass("is-rounded");

				    deleteButton = $('<button>')
				    deleteButton.addClass("delete");
				    deleteButton.addClass("is-medium");
				    deleteButton.click(deleteElementCallback)

				    tag.append(deleteButton)

				    table.append(tag);
				}
				return table;
			};
			var fetchServerData = function(){
				$.ajax(
					{
						url: '/fetchServerState/',
						// authentication: getCookie('csrftoken'),
						dataType: "json",
						success: 
							function (newServerState) {
								var currWaitingPlayers = newServerState.currWaitingPlayers;
								var currFreePlayers = newServerState.currFreePlayers;
								// console.log(currAdaptationState);

								fpTable = generateTableFromArray(currFreePlayers,function(){
							    	$.ajax({
										  type: 'POST',
										  url: '/addWaitingPlayer/',
										  data: {'playerId':$(this).parent().text()}
									});
								});
								wpTable = generateTableFromArray(currWaitingPlayers,function(){
							    	$.ajax({
										  type: 'POST',
										  url: '/removeWaitingPlayer/',
										  data: {'playerId':$(this).parent().text()}
									});
								});
								$('#freePlayersTable').empty();
								$('#freePlayersTable').append(fpTable);

								$('#waitingRoomTable').empty();
								$('#waitingRoomTable').append(wpTable);

								if(newServerState.readyForNewActivity=="true"){
									$("#readyForNewActivityButton").removeClass("is-loading");
									$("#readyForNewActivityButton").html("Start Activity");
								}

								if(currAdaptationState == undefined && newServerState.currAdaptationState.groups != undefined){
									buildGroupsPlot( "groupsPlot", newServerState.currAdaptationState);
								}
								currAdaptationState = newServerState.currAdaptationState;
							}
					}
				);
			};

			fetchServerData();
			setInterval(fetchServerData, 500);


			var startAdaptation = function(){
				$("#startAdaptation").addClass("is-loading");
				$.ajax(
						{
							url: '/startAdaptation/',
							dataType: "json",
							complete: 
								function (newServerState) {
									console.log('here');
									$("#startAdaptation").removeClass("is-loading");
									currAdaptationState = newServerState.currAdaptationState;
									$("#groupsPlot").empty();
									if(currAdaptationState != undefined && currAdaptationState.groups != undefined){
										buildGroupsPlot( "groupsPlot", currAdaptationState);
									}
								}
						}
					);
			}

			$("#startAdaptation").click(function(){
				startAdaptation();
			})
			$("#addAllPlayers").click(function(){
				$.ajax(
						{
							url: '/addAllPlayersWaiting/'
						}
				);
			})
			$("#clearAllPlayers").click(function(){
				$.ajax(
						{
							url: '/removeAllPlayersWaiting/'
						}
				);
			})
			$("#addSpecificPlayer").click(function(){
				startAdaptation();
			}).hide()

			$("#rebuildPlot").click(function(){
				$("#groupsPlot").empty();
				if(currAdaptationState != undefined && currAdaptationState.groups != undefined){
					buildGroupsPlot( "groupsPlot", currAdaptationState);
				}
			})
		});
	</script>
</html>