.node {
            cursor: pointer;
        }

        .dot {
            opacity: .7;
            cursor: pointer;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: rgb(31, 119, 180);
            shape-rendering: crispEdges;
        }

        text {
            stroke: none;
            fill: #666666;
            font-size: .6em;
            font-family: "Helvetica Neue"