
#fullscreen {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top:0;
        left:0;
    }
@media screen and (orientation:portrait) { height: 100vh;
            width: 100vw; }
@media screen and (orientation:landscape) {height: 100vh;
            width: 100vw; }


/* Sticky footer styles
-------------------------------------------------- */
html {
  background-color: transparent;
  /*position: relative;*/
  /*min-height: 100%;*/
}

body {

  /* Margin bottom by footer height */
  background-position: absolute;
  background-image: url("../media/images/background.png");
  background-size: cover;
  background-attachment: fixed; 
  /*background-color: transparent; */
  background-margin: 0; 
  height: 100%;
  
  /*margin: 0;*/
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}*/

.navbar {
  /*background: url("../images/navbar.png") center; */
  background-attachment: fixed; 
  border-radius: 25px;
  margin: 40px;
}
.section{
  border-radius: 20px;
  border-fill: #131444;
}

.panel-heading {
  border-radius: 25px 25px 0px 0px;
  border-fill: transparent;
}

.panel-block {
  background-color: white;
  /*border-radius: 0px 0px 25px 25px;*/
  border-fill: transparent;
}

.button{
  border-radius: 50px;
}

.navbar-dropdown {
  min-width: 50%;
}

.main-title{
  font-size: 400%;
  text-shadow: -4px 0 #131444, 0 4px #131444, 4px 0 #131444, 0 -4px #131444;
  color: white;

  font-weight: bold;
}
.main-subtitle{
  font-size: 200%;
  text-shadow: -4px 0 #131444, 0 4px #131444, 4px 0 #131444, 0 -4px #131444;
  color: white;

  font-weight: bold;
}

.title{
  font-size: 400%;
  color: #131444;
  font-weight: bold;
}
.subtitle{
  font-size: 200%;
  color: #131444;
  font-weight: bold;
}


.dash-cell-box{
  padding:2em; 
  overflow: auto;
  border-color:gray; 
  border-style:solid; 
  border-radius: 1em; 
  border-width: 0.1em;
  object-fit: fill;
}

.panel-block-borderless{ 
  border-style:none; 
}


.circular-img-format{
  display: inline-block;
  position: relative;
  /*width: 50vw;*/
  height: 1.75rem;
  overflow: hidden;
  border-radius: 50%;

}



.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

.dropdown-menu {
  z-index: 1000;
}

.dropdown-item {
  z-index: 1000;
}