

/* Sticky footer styles
-------------------------------------------------- */
html {
  background-color: transparent;
  /*position: relative;*/
  /*min-height: 100%;*/
}

body {
  /* Margin bottom by footer height */
  background-position: absolute;
  background-image: url("../images/background.gif");
  background-size: cover; 
  background-attachment: fixed; 
  /*background-color: transparent; */
  background-margin: 0; 
  height: 100%;
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}*/

.navbar {
  /*background: url("../images/navbar.png") center; */
  background-attachment: fixed; 
  border-radius: 25px;
  margin: 40px;
}

.panel-heading {
  border-radius: 25px 25px 0px 0px;
  border-fill: transparent;
}

.panel-block {
  background-color: white;
  border-radius: 0px 0px 25px 25px;
  border-fill: transparent;
}

.button{
  border-radius: 50px;
}

.navbar-dropdown {
  min-width: 50%;
}

.title{
  font-size: 400%;
  color: white;
}
.subtitle{
  font-size: 200%;
  color: white;
}