
#fullscreen {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top:0;
        left:0;
    }
@media screen and (orientation:portrait) { height: 100vh;
            width: 100vw; }
@media screen and (orientation:landscape) {height: 100vh;
            width: 100vw; }


/* Sticky footer styles
-------------------------------------------------- */
html {
  background-color: transparent;
  /*position: relative;*/
  /*min-height: 100%;*/
}

body {
  /* Margin bottom by footer height */
  background-position: absolute;
  background-image: url("../media/images/background.png");
  background-size: cover;
  background-attachment: fixed; 
  /*background-color: transparent; */
  background-margin: 0; 
  height: 100%;
  
  /*margin: 0;*/
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px;
  line-height: 60px;
}*/

.navbar {
  /*background: url("../images/navbar.png") center; */
  background-attachment: fixed; 
  border-radius: 25px;
  margin: 40px;
  background-color: #def0ff;
}
.section{
  border-radius: 20px;
  border-color: #def0ff;
}

.panel-heading:first-child {
  border-top: 1px solid #def0ff;
  }

.panel-heading {
  font-weight: 450; 
  color: #373f51;
  border-radius: 15px 15px 0px 0px;
  background-color:rgb(236, 247, 255);
  border-color: #def0ff;
}

.panel-block {
  background-color: white;
  border-color: #def0ff;
  border-top: #def0ff;
}

.panel-footer {
  font-weight: 450; 
  color: #373f51;
  border-radius: 0px 0px 15px 15px ;
  background-color:rgb(236, 247, 255);
  border-color: #def0ff;
}

.button{
  border-radius: 50px;
  border-color: #0086fd;
  color: #373f51;
  background-color: #f9fcff;
  font-weight: 500;
}

.plot-label{
  font-weight: 500;
  color: #131444;
  font-size: 130%;

}
.assign-tag:hover{
  color: #FFBC42;
  border-color: #FFBC42;
  border-style: solid;
}

.assignable-tag{
  margin:0.1em; 
  z-index:1000;  
  background-color: #FFBC42;
  color: white;
  border-radius: 290486px;
  display: inline-flex;
  padding: 0.1em 0.75em 0.1em 0.75em;
  font-weight: 450;

}
.assignable-tag:hover{
  background-color: #df9308;
}

.assigned-tag{
  margin: 0.1em; 
  background-color: transparent;
  border-color: #131444;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 290486px;
  padding: 0.1em 0.75em 0.1em 0.75em;
  font-weight: 500;
  color: #131444;
}

.navbar-dropdown {
  min-width: 50%;
}

.contrast-color{
  color: #ee4266;
}

.main-title{
  font-size: 400%;
  text-shadow: -4px 0 #131444, 0 4px #131444, 4px 0 #131444, 0 -4px #131444;
  color: white;

  font-weight: bold;
}
.main-subtitle{
  font-size: 200%;
  text-shadow: -4px 0 #131444, 0 4px #131444, 4px 0 #131444, 0 -4px #131444;
  color: white;

  font-weight: bold;
}

.title{
  font-size: 400%;
  color: #131444;
  font-weight: bold;
}
.subtitle{
  font-size: 200%;
  color: #373f51;
  font-weight: 600;
}
.description{
  font-size: 105%; text-align: center;
  color: #373f51;
  font-weight: 600;
  margin: 0.5em;
}

.question-text{
  font-size: 105%;
  color: #373f51;
  font-weight: 500;
  margin: 0.5em;
}

.question-block{
  background-color: white;
  border-color: #def0ff;
  border-style: solid;
}

.likert-row {
  display: flex;
  align-items: center;
}

.likert-options{
  font-size: 105%;
  color: #373f51;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likert-element{
  margin: 1em;
  flex: 1;
  text-align: center;
}


.dash-cell-box{
  padding: 2em;
  overflow: auto;
  border-color: #373f51;
  border-style: solid;
  border-radius: 1em;
  border-width: 0.1em;
  object-fit: fill;
}

.student-info-box{
  padding: 1em;
  overflow: auto;
  border-color: #373f51;
  background-color: #def0ff;
  border-style: solid;
  border-radius: 1em;
  border-width: 0.1em;
  object-fit: fill;
}

.student-info-header{
  font-weight: 480;  
}

.student-info-header-element{
  padding: 0.4em 0.75em 0.4em 0.75em;
  font-size: 102%;
}

.student-info-column-title{
  font-weight: 700;  
  font-size: 90%;
}

.student-info-column-content{
  font-weight: 450;  
  font-size: 110%;
}


.panel-block-borderless{ 
  border-style:none; 
}


.circular-img-format{
  display: inline-block;
  position: relative;
  /*width: 50vw;*/
  height: 1.75rem;
  overflow: hidden;
  border-radius: 50%;
}

.loading-anim{
  max-width: 96px;
}

.modal{
  z-index: 999999;
}
.modal-background {
  border-color: rgba(10,10,10,0.86); 
}
.modal-content{
  color: #373f61;
  background-color: rgb(236, 247, 255);
  border-color: rgba(10,10,10,1.0); 
  border-radius: 0.2em; 
  width: 50%;
  height: 70%;
  padding: 2em;
  margin: auto;
}

.slidecontainer{
  background:#fff;
  border-radius: 0.2em;
  padding: 10px 25px 20px 25px;
  display:grid;
  text-align:center;
  place-items:center;
}
.slidecontainer .sliderValue{
  position:relative;
  text-align: center;
  width:100%;
}
.slidecontainer .slider{
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
  font-weight: 500;
}
.slidecontainer .slider input{
  -webkit-appearance: none;
  height:8px;
  background: #def0ff;
  border-radius: 2px;
  border-color: #373f51;
  border: solid;
  border-color: #bbcdf3;
  border-width: 1px;
  width: 100%;
}
.slidecontainer .slider input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 12px;
  background: #373f51;
  border-radius: 20%;
  cursor: pointer;
}
.slidecontainer .slider .value.left{
  padding: 0px 10px;
}
.slidecontainer .slider .value.right{
  padding: 0px 10px;
}

.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

.dropdown-menu {
  z-index: 1000;
}

.dropdown-item {
  z-index: 1000;
}


.fancy-plot-text{
    font-family: Calibri,sans-serif;
    color: white;
            font-size: 50px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
}
