{% load static %}
{% include "common/header.html" %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>GIMME</title>
	</head>
	<body class="layout-default">
		
		<div id="welcomeBanner">
			<section class="hero main_hero is-fullheight">
				<div class="hero-body">
					<div class="has-text-centered; slider-content animated zoomIn">
						<div>
							<p class="title is-1 main-text">Welcome to GIMME-Web, {{request.session.username}}</p>
							<p class="subtitle is-4 main-text">A sophisticated Group Interactions Management Tool</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div id="dashboard">
			
			<section class="section danger" id="waitingSection">
				<div class="panel animated zoomIn">
					<div class="panel-heading">
						<div class="columns is-vcentered">
							<div class="column">
								<p>Waiting Room</p>
							</div>
							<div class="is-pulled-left">
								<i class="fa fa-window-minimize minimizerButton" aria-hidden="true"></i>
								<i class="fa fa-window-maximize maximizerButton" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="panel-block">
						<div class="column is-full-width" id="registeredPlayersPanel">
							<div class="table" id="waitingRoomTable"></div>
						</div>

						<div class="button is-large" type="submit" id="startAdaptation">Start Class Activities</div>
						<!-- <input class="button is-large" type="reset" value="Journey"> -->
						
					</div>
				</div>
			</section>

			<section class="section">
				<div class="panel animated zoomIn">
					<div class="panel-heading">
						<div class="columns is-vcentered">
							<div class="column">
								<p>Class Learning State</p>
							</div>
							<div class="is-pulled-left">
								<i class="fa fa-window-minimize minimizerButton" aria-hidden="true"></i>
								<i class="fa fa-window-maximize maximizerButton" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="panel-block">
						<div class="colums">
	  						<div class="column is-one-third"></div>
	  						<div class="column is-one-third is-centered" id="groupsPlot"></div>
	  						<div class="column is-one-third"></div>

							<div class="button is-large" type="submit" id="rebuildChart">Rebuild Chart</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="panel animated zoomIn">
					<div class="panel-heading">
						<div class="columns is-vcentered">
							<div class="column">
								<p>Available Tasks</p>
							</div>
							<div class="is-pulled-left">
								<i class="fa fa-window-minimize minimizerButton" aria-hidden="true"></i>
								<i class="fa fa-window-maximize maximizerButton" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="panel-block">
						<div class="table">
	  						<table>
							    <tr>
							        <th>Field 1</th>
							    </tr>
							    <tr> 
							        <td>field1</td>
							    </tr>
							    {% for item in tasks %}
								    <tr> 
								        <td>{{ item.field1 }}</td>
								    </tr>
							    {% endfor %}
							</table>
						</div>
						<form action="{% url 'registerTask' %}" class="section">
							<input class="button is-large" type="submit" value="Register new Task">
							<!-- <input class="button is-large" type="reset" value="Journey"> -->
						</form>
					</div>
				</div>
				
			</section>

			
		</div>
	</body>
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="https://unpkg.com/d3-force-attract@latest"></script>
	<script src="https://unpkg.com/d3-force-cluster@latest"></script>
	<script src="{% static "js/general.js" %}"></script>
	<script src="{% static "js/plots.js" %}"></script>
	<script>
		$(document).ready(function(){

			var currAdaptationState = undefined;

			var fetchServerData = function(){
				$.ajax(
					{
						url: '/fetchServerState/',
						// authentication: getCookie('csrftoken'),
						dataType: "json",
						success: 
							function (newServerState) {
								// console.log(newServerState)
								var currWaitingPlayers = newServerState.currWaitingPlayers;

								console.log(currAdaptationState);

								var table = $('<table>');
							    row = $('<tr>').append($('<th>').text('Username'));
								table.append(row);
								
								for(var i=0; i < currWaitingPlayers.length; i++){
								    row = $('<tr>').append($('<td>').text(currWaitingPlayers[i]));
									table.append(row);
								}
								$('#waitingRoomTable').empty();
								$('#waitingRoomTable').append(table);

								if(newServerState.readyForNewActivity=="true"){
									$("#readyForNewActivityButton").removeClass("is-loading");
									$("#readyForNewActivityButton").html("Start Activity");
								}

								if(currAdaptationState == undefined && newServerState.currAdaptationState.groups != undefined){
									buildGroupsPlot( "groupsPlot", newServerState.currAdaptationState);
								}
								currAdaptationState = newServerState.currAdaptationState;
							}
					}
				);
			};

			fetchServerData();
			setInterval(fetchServerData, 500);


			var startAdaptation = function(){
				$.ajax(
						{
							url: '/startAdaptation/',
							dataType: "json",
							success: 
								function (newServerState) {
									currAdaptationState = newServerState.currAdaptationState;
									$("#groupsPlot").empty();
									if(currAdaptationState != undefined && currAdaptationState.groups != undefined){
										buildGroupsPlot( "groupsPlot", currAdaptationState);
									}
								}
						}
					);
			}

			$("#startAdaptation").click(function(){
				startAdaptation();
			})
			$("#rebuildChart").click(function(){
				$("#groupsPlot").empty();
				if(currAdaptationState != undefined && currAdaptationState.groups != undefined){
					buildGroupsPlot( "groupsPlot", currAdaptationState);
				}
			})
		});
	</script>
</html>